@charset "utf-8";
/*--------------------------------------------------
----------Eric Meyer's Global CSS Reset-------------
--------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
/*	vertical-align:baseline;*/
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
:focus {
 
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a{ text-decoration:none;}
/*--------------------------------------------------
----------Typography--------------------------------
--------------------------------------------------*/


@font-face {
    font-family: 'interstateregular';
    src: url('../fonts/ufonts.com_interstate-bold1-webfont.eot');
    src: url('../fonts/ufonts.com_interstate-bold1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_interstate-bold1-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_interstate-bold1-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_interstate-bold1-webfont.svg#interstateregular') format('svg');
		 src: local('@'), url('../fonts/ufonts.com_interstate-bold1-webfont.woff') format('woff'), url('../fonts/ufonts.com_interstate-bold1-webfont.ttf') format('truetype'), url('../fonts/ufonts.com_interstate-bold1-webfont.svg#interstateregular') format('svg');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interstateregular';
    src: url('../fonts/ufonts.com_interstate-regular-webfont.eot');
    src: url('../fonts/ufonts.com_interstate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_interstate-regular-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_interstate-regular-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_interstate-regular-webfont.svg#interstateregular') format('svg');
		  src: local('@'), url('../fonts/ufonts.com_interstate-regular-webfont.woff') format('woff'), url('../fonts/ufonts.com_interstate-regular-webfont.ttf') format('truetype'), url('../fonts/ufonts.com_interstate-regular-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helr65w-webfont-webfont.eot');
    src: url('../fonts/helr65w-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helr65w-webfont-webfont.woff') format('woff'),
         url('../fonts/helr65w-webfont-webfont.ttf') format('truetype'),
         url('../fonts/helr65w-webfont-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Conv_helr45w';
	src: url('../fonts/helr45w.eot');
	src: local('@'), url('../fonts/helr45w.woff') format('woff'), url('../fonts/helr45w.ttf') format('truetype'), url('../fonts/helr45w.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_intbd___';
	src: url('../font1/intbd___.eot');
	src: local('☺'), url('../font1/intbd___.woff') format('woff'), url('../font1/intbd___.ttf') format('truetype'), url('../font1/intbd___.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_intr____';
	src: url('../font1/intr____.eot');
	src: local('☺'), url('../font1/intr____.woff') format('woff'), url('../font1/intr____.ttf') format('truetype'), url('../font1/intr____.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Interstate-Light';
	src: url('../font1/Interstate-Light.eot');
	src: local('☺'), url('../font1/Interstate-Light.woff') format('woff'), url('../font1/Interstate-Light.ttf') format('truetype'), url('../font1/Interstate-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
