@charset "utf-8";
/* CSS Document */

body {
	background:url(../images/body.png) left top repeat; 
	/*background:url(../images/psd-bg.jpg) -168px top no-repeat;*/
	/*background:url(../images/adddeco-psd-bg.jpg) -168px top no-repeat;*/
	/*background:url(../images/tooldesign-psd-bg.jpg) -125px top no-repeat;*/
	/*background:url(../images/login-page-psd-bg.jpg) -125px top no-repeat;*/
	/*background:url(../images/registration-page-bg.jpg) -125px top no-repeat;*/
	font-family:Arial, Helvetica, sans-serif;
}
#wrapper {
	background:url(../images/wrapper-top-bg.jpg) left top repeat-x;
	padding-top:11px; 
	/*opacity:.5;*/
}
.border-top {
	background:url(../images/border-top.png) center top no-repeat;
	padding-top:21px;
	/*position:relative;
	z-index:10;*/
}
.border-bottom {
	background:url(../images/border-bottom.png) center bottom no-repeat;
	padding-bottom:13px;
	position:relative;
	/*z-index:2;*/
}
.border-middle {
	background:url(../images/border-mid.png) center top repeat-y;
}
.page {
	width:960px;
	margin:0 auto;
}
/*----- Header Start -----*/
#header {
}
h1 {
	float:left;
	margin-top:4px;
	margin-left:2px;
}
.services {
	float:right;
	margin:31px 15px 40px 0px;
}
.services ul {
	margin:9px 5px 0px 0px;
	float:right;
}
.services li {
	border-right:1px solid #151515;
	margin-right:9px;
	float:left;
}
.services li a {
	font-size:13px;
	line-height:16px;
	color:#151515;
	display:block;
	padding-left:21px;
	margin-right:7px;
}
.services li a:hover {
	color:#b40808;
}
.create-account {
	background:url(../images/create-account.png) left 3px no-repeat;
}
.login {
	background:url(../images/login.png) left 3px no-repeat;
}
.save {
	background:url(../images/save.png) left 3px no-repeat;
	border-right:none!important;
}
.services span {
	background:url(../images/search-box.png) left top no-repeat;
	width:222px;
	height:34px;
	float:right;
}
.services input[type="text"] {
	width:172px;
	border:none;
	color:#7f7f7f;
	font-size:11px;
	line-height:34px;
	font-style:italic;
	float:left;
	background:none;
	height:34px;
	padding-left:11px;
}
.services input[type="button"] {
	width:39px;
	height:34px;
	border:none;
	cursor:pointer;
	float:right;
	background:none;
}
.navigation {
	background:url(../images/navigation-bg.png) left top repeat-x;
	clear:both;
	/*margin-bottom:27px;*/
	height:50px;
}
.navigation ul {
	overflow:hidden;
}
.navigation li {
	float:left;
	margin:9px 0px 0px 5px;
}
.navigation li a {
	font-size:14px;
	color:#eff0f1;
	display:block;
	font-family: 'interstateregular';
	line-height:34px;
	text-transform:uppercase;
	letter-spacing:.5;
	font-weight:bold;
	
}
.navigation li a span{margin-right:7px; padding:0px 3px 0px 10px; display:block;  }
.navigation li a:hover {color:#b91818; background:url(../images/navigation-hover-bg.png) right bottom no-repeat;}
.navigation li a:hover span{ background:url(../images/navigation-hover-bg.png) left top no-repeat; }
/*----- Header End -----*/



/*----- Content Start -----*/
#content {
	padding:21px 14px 8px 15px;
}
.home { padding:27px 14px 0px 15px!important;
}
.banner {
	position:relative;
	margin-bottom:33px;
}
.banner-image{/* margin-top:6px;*/}
#slides .slides_container {
			width:930px;
			height:489px;
			/*display:none;*/
		}
		
#slides .slides_container banner-image {
			width:930px;
			height:489px;
			display:block;
		}
.pagination{ display:none;}
.home h2 {
	font-size:27px;
	line-height:30px;
	font-family: 'interstateregular';
	color:#212121;
	text-transform:uppercase;
	font-weight:normal;
}
.home h2 span {
	color:#b40808;
}
.home ul {
	margin-top:15px;
}
.home li {
	background:url(../images/list-style.png) left 16px no-repeat;
	word-spacing:2px;
}
.home li a {
	font-size:16px;
	line-height:35px;
	color:#383838;
	display:block;
	padding-left:22px;
}
.shirt-design-button {
	font-size:24px;
	line-height:54px;
	color:#FFFFFF;
	margin:21px 0px 32px 0px;
	background:url(../images/shirt-desiner-button.png) right bottom no-repeat;
	display:inline-block;
	padding-right:12px;
}
.shirt-design-button span {
	background:url(../images/shirt-desiner-button.png) left top no-repeat;
	display:inline-block;
	padding:0px 6px 0px 21px;
}
.prev {
	background:url(../images/previous.png) left top no-repeat;
	position:absolute;
	text-indent:-9999px;
	top:217px;
	left:0px;
	height:53px;
	width:53px;
	z-index:100;
}
.next {
	background:url(../images/next.png) right top no-repeat;
	position:absolute;
	text-indent:-9999px;
	top:217px;
	right:2px;
	height:53px;
	width:53px;
	z-index:100;
}
/*----- Content End -----*/




/*----- Footer Start -----*/

#footer {
	background-color:#343434;
	margin-top:-43px;
	padding-top:76px;
	z-index:2;
	/*position:relative;*/
}
#footer .page {
	overflow:hidden;
}
h3 {
	font-family: 'interstateregular';
	font-size:19px;
	line-height:29px;
	color:#FFFFFF;
	font-weight:normal;
}
.navigation-footer {
	float:left;
	margin:0px 0px 0px 14px;
	width:135px;
}
.navigation-footer ul {
	margin:7px 0px 2px;
}
.navigation-footer li {
}
.navigation-footer li a {
	font-size:12px;
	line-height:24px;
	display:block;
	color:#8c8c8c;
	text-transform:uppercase;
}
.navigation-footer li a:hover {
	color:#b40808;
}
.blog-feedfrom {
	float:left;
	margin-left:14px;
	width:264px;
}
.blog-feedfrom li {
	background:url(../images/arrow-navigation.png) left 9px no-repeat;
}
.blog-feedfrom li a {
	padding-left:13px;
	text-transform:none;
}
.social-icon {
	float:left;
	margin-left:14px;
	width:184px;
}
.social-icon ul {
	overflow:hidden;
	margin-top:13px;
}
.social-icon li {
	float:left;
	margin-right:9px;
}
.social-icon li a {
}
.social-icon li a:hover {
}
.news-letter {
	float:left;
	margin-left:16px;
	width:316px;
}
.news-letter p {
	font-size:12px;
	line-height:20px;
	color:#8c8c8c;
	width:280px;
	margin-top:3px;
}
.news-letter span {
	background:url(../images/subscribe-button.png) left top no-repeat;
	display:inline-block;
	width:231px;
	height:37px;
	margin-top:12px;
}
.subscribe-text {
	width:129px!important;
	background:none;
	border:none;
	float:left;
	height:36px;
}
.subscribe-button {
	float:right;
	background:none;
	border:none;
	font-size:11px;
	line-height:30px;
	width:88px!important;
	color:#e3e3e3;
	cursor:pointer;
	height:36px;
}
.footer-bottom {
	background-color:#242424;
	border-top:1px solid#545454;
	border-bottom:1px solid #343434;
	margin-top:38px;
}
.footer-bottom span {
	font-size:12px;
	line-height:36px;
	color:#8c8c8c;
	display:inline-block;
	margin-left:17px;
}

/*----- Footer End -----*/




/*----- Adddeco page start -----*/

.subpage-border-top{ background:url(../images/subpage-border-top.png) left top no-repeat; padding-top:2px;}
.subpage-border-bottom{ background:url(../images/subpage-border-bottom.png) left bottom no-repeat; padding-bottom:3px;}
.subpage-border-mid{ background:url(../images/subpage-border-mid.png) left top repeat-y; padding:15px 15px 18px 15px; overflow:hidden;}

.your-collection-bottom{ background:url(../images/your-collection-bottom-bg.png) left bottom no-repeat; float:left; padding-bottom:3px; width:187px;}
.your-collection-bottom h2{ background:url(../images/your-collection-top-bg.png) left top no-repeat; font-family: 'interstateregular'; font-weight:normal; font-size:14px; line-height:32px; color:#424242; padding-left:9px;}
.your-collection-mid{ background:url(../images/your-collection-bottom-mid.png) left top repeat-y; padding:12px 0px 16px 14px; position:relative;}
.your-collection-mid ul{}
.your-collection-mid li{ margin-bottom:6px;}
.your-collection-mid li a{ display:inline-block;  border:1px solid #b9b9b9;  margin:1px; background-color:#cfcfcf; width:130PX; text-align:center; padding-top:3px;}
.your-collection-mid li strong{ display:block; color:#1b1b1b; font-size:12px; line-height:16px; padding-top:9px;}
.your-collection-mid li span{ display:block; font-size:11px; line-height:16px; color:#1b1b1b;}
.your-collection-mid span span{}
.your-collection-mid span span span{ color:#b40808; display:inline-block;}
.your-collection-mid li a:hover{ border:2px solid #5b5b5b; margin:0px;}




.product-detail{ float:left; width:361px; margin-left:13px;}
.product-detail-image{ width:359px; text-align:center; background-color:#FFFFFF;  border:1px solid #b9b9b9; padding-top:15px;}
.product-detail strong{ font-family: 'interstateregular'; font-family:15px; line-height:17px; color:#393838; display:block; padding-top:14px;}
.product-detail span{ font-family: 'interstateregular'; font-family:14px; line-height:16px; color:#393838; display:block; padding-bottom:7px;}
.product-detail span span{ display:inline-block; color:#b40808;}

.duplicate-product-button{ background:url(../images/duplicate-product-button.png) right bottom no-repeat; display:block; width:118px; font-size:12px; line-height:15px; font-family: 'helveticabold'; padding-right:8px; margin-right:13px; text-align:center; float:left;}
.duplicate-product-button span{ background:url(../images/duplicate-product-button.png) left top no-repeat; color:#535353;  display:block; padding:6px 0px 7px 6px; height:32px;}
.duplicate-product-button span.duplicate-product-1{ line-height:33px;}
.product-detail ul{ overflow:hidden; padding-top:27px; clear:both;}
.product-detail li{ float:left; margin:0px 3px 3px 0px ;}
.product-detail li a{ display:block;  border:1px solid #b9b9b9; margin:1px;}
.product-detail li a:hover{  border:2px solid #5b5b5b; margin:0px;}
.product-detail li.right-margin{ margin-right:0px;}


.embrodiary-design{ float:left; width:325px; margin-left:15px;}
.angle-properties{}
.angle-properties ul{ overflow:hidden;}
.angle-properties li{ float:left; background:url(../images/angle-bg.png) left top no-repeat; text-align:center; margin-right:7px;}
.angle-properties li a{ display:block; width:43px; height:31px;  padding-top:7px;}


.deco-basket{ margin-top:11px;}
.deco-basket span{  font-family: 'interstateregular'; font-weight:normal; font-size:12px; line-height:14px; color:#363636; display:block;}
.deco-design-main{ background:#ffffff url(../images/deco-main-bg.jpg) left bottom repeat-x; width:313px; border:1px solid #b9b9b9; height:385px; margin-top:8px; position:relative; overflow:hidden; padding-right:15px;}
.deco-1{ overflow:hidden; border-bottom:1px solid #b9b9b9;}
.deco-1-detail{ float:left; padding:25px 0px 28px 22px;  border-right:1px solid #b9b9b9; width:145px;}
.deco-1-detail strong{ font-size:14px; line-height:18px; color:#000000; font-weight:bold; font-family: 'interstateregular'; display:block;}
.deco-1-detail span{ color:#3d3d3d; font-size:14px; line-height:18px; font-family: 'interstateregular'; font-weight:normal; display:block;}
.deco-1-detail span span span span{ color:#b40808;}
.design-delete-button{  font-size:11px; line-height:13px; font-family: 'helveticabold'; display:block; background:url(../images/design-delete-button.png) right bottom no-repeat; padding-right:7px; width:87px; margin-top:19px; text-align:center;}
.design-delete-button span{ display:block; background:url(../images/design-delete-button.png) left top no-repeat; padding:4px 0px 7px 6px ; color:#535353; font-size:11px; line-height:13px; font-family: 'helveticabold';}
.deco-1-image{ float:left; text-align:center; padding:44px 10px 46px 10px; width:125px;}


.adjust-layer{ overflow:hidden; margin-top:18px;}
.adjust-left-part{ float:left; width:160px;}
.adjust-left-part span{ display:block; font-size:13px; line-height:16px; color:#393838;  font-family: 'interstateregular'; font-weight:normal; letter-spacing:-1px; word-spacing:-1px; padding-bottom:16px;}
.adjust-left{ display:inline-block; background:url(../images/adjust-left.png) left top no-repeat; text-indent:-9999px; width:47px; height:23px; margin:0px 3px 0px 28px;}
.adjust-right{ display:inline-block; background:url(../images/adjust-right.png) right top no-repeat; text-indent:-9999px;  width:48px; height:23px;}
.size{}
.size span{display:block; font-size:13px; line-height:16px; color:#393838;  font-family: 'interstateregular'; font-weight:normal;}


.adjust-right-part{ float:left; width:165px;}
.upload-design{ width:150px; margin:3px 0px 0px 7px; float:none;}
.upload-design span{ padding:7px 0px 8px 5px; height:30px;}
.layer{ margin:19px 0px 0px 10px;}
.layer span{ display:block; font-size:13px; line-height:16px; color:#393838;  font-family: 'interstateregular'; font-weight:normal; padding-bottom:10px;}
.size{  position:relative; margin-top:19px; overflow:hidden; padding-bottom:13px;}
.size-scroll{ border-radius:5px; -webkit-border-radius:5px; background-color:#acacac; position:absolute; top:29px; z-index:10; left::5px; height:95%; behavior: url(PIE.htc); width:152px; height:7px;}
.size-scroll-left{  border-radius:5px 0px 0px 5px; -webkit-border-radius:5px 0px 0px 5px; background-color:#707070; z-index:10; behavior: url(PIE.htc); width:70px; height:7px;}
.size-scroll-botton{ background:url(../images/size-scroll-button.png) center top no-repeat; height:24px; width:24px; position:absolute; text-indent:-9999px; left:62px; top:-7px; cursor:pointer;}
.left{ float:left; display:inline-block; font-size:11px;  font-family: 'interstateregular'; font-weight:normal; color:#565656; line-height:16px; padding-top:5px;}
.right{ float:right; margin-right:5px;}

.layer-bottom-part{ background:url(../images/layer-bottom-part.png) left bottom no-repeat; padding-bottom:5px;}
.layer-bottom-part h3{ background:url(../images/layer-top-part.png) left top no-repeat; font-size:12px; line-height:34px; color:#5c5b5b; font-family: 'helveticabold'; padding-left:13px; width:154px;}
.layer-mid-part{ background:url(../images/layer-mid-part.png) left top repeat-y; padding-top:56px;}


.scroll{ width:7px; border-radius:5px; -webkit-border-radius:5px; background-color:#acacac; position:absolute; right:14px; top:10px; z-index:10; height:95%; behavior: url(PIE.htc);}
.scroll-top{ border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; background-color:#707070; height:116px; z-index:10; behavior: url(PIE.htc);}
.scroll-stop{ background:url(../images/scroll-stop.png) left top no-repeat; position:absolute; top:111px; left:-6px; height:19px; width:19px; text-indent:-9999px; cursor:pointer;}

/*----- Adddeco page End -----*/


/*----- Productpage2 page Start -----*/

.about-product{background: #FEFEFE;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEFEFE), to(#cccbcb));
background: -webkit-linear-gradient(#FEFEFE, #cccbcb);
background: -moz-linear-gradient(#FEFEFE, #cccbcb);
background: -ms-linear-gradient(#FEFEFE, #cccbcb);
background: -o-linear-gradient(#FEFEFE, #cccbcb);
background: linear-gradient(#FEFEFE, #cccbcb);
-pie-background: linear-gradient(#FEFEFE, #cccbcb);
behavior: url(PIE.htc); position:relative; z-index:5; border:1px solid #d1cfcf; border-radius:4px; -webkit-border-radius:4px; margin-bottom:9px;}
.about-product ul{ overflow:hidden; /*position:relative;*/}
.about-product li{ float:left;  text-align:center; background:url(../images/tab.png) right top no-repeat; z-index:100; margin-left:-46px; position:relative; min-width:225px;}
.about-product li+li{ z-index:90;}
.about-product li+li+li{ z-index:80;}
.about-product li+li+li+li{ z-index:70;}
.about-product li+li+li+li+li{ z-index:60;}
.about-product li+li+li+li+li+li{ z-index:50;}
.about-product li+li+li+li+li+li+li{ z-index:40;}
.about-product li+li+li+li+li+li+li+li{ z-index:30;}
.about-product li+li+li+li+li+li+li+li+li{ z-index:20;}
.about-product li a{ font-size:15px; line-height:40px; color:#333333; font-family: 'interstateregular'; font-weight:normal; display:block; padding-right:40px; padding-left:68px;}
.about-product li:hover a,.about-product li.active a, .about-product li a.active{ background:url(../images/hover-tab.png) right top no-repeat;  color:#FFFFFF; }




.product-style{ margin-top:21px; margin-bottom:52px;}
.product-style ul{ overflow:hidden;}
.product-style li{ width:219px; float:left; position:relative; margin-right:17px;}
.hover-border{ background-color:#eeeeee;  border-radius:5px; -webkit-border-radius:5px; behavior: url(PIE.htc); position:relative; z-index:5; text-align:center; border:2px solid #fff; display:block; padding-top:3px;}
.heart-like{ background:url(../images/heart-image.png) right top no-repeat; position:absolute; right:6px; top:8px; display:none; text-indent:-9999px; width:18px; height:17px; z-index:100;}
.hover-border:hover, .hover-border.active{ border-color:#4d4d4d;}
.product-style li:hover .heart-like, .product-style li.active .heart-like { display:block;}
.product-style li span{ font-size:14px; color:#010101; line-height:20px; margin-top:6px; display:inline-block;}
.product-style li span span{ color:#b40808;}
.right-margin{ margin-right:0px!important;}
.basic-image{display:block;  border-radius:5px; -webkit-border-radius:5px; behavior: url(PIE.htc); position:relative; z-index:5; text-align:center; background-color:#FFFFFF; border:1px solid #b4b4b4; padding-top:13px; padding-bottom:14px; margin-top:15px;}
.basic-image:hover, .basic-image.active{border:1px solid #616161;}
.product-style li ul{ overflow:hidden;}
.product-style li ul li{ float:left; margin-right:4px; width:auto;}
.product-style li ul li a{ font-size:12px; line-height:20px; padding-top:8px; display:block; color:#4f4f4f;}
.product-style li ul li a:hover,.product-style li ul li a.active {color:#b40808!important;}
.product-style li .add-collection{-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;background: #ECECEC;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ECECEC), to(#cecece));
background: -webkit-linear-gradient(#ECECEC, #cecece);
background: -moz-linear-gradient(#ECECEC, #cecece);
background: -ms-linear-gradient(#ECECEC, #cecece);
background: -o-linear-gradient(#ECECEC, #cecece);
background: linear-gradient(#ECECEC, #cecece);
-pie-background: linear-gradient(#ECECEC, #cecece); font-size:12px; color:#000000; line-height:27px; border:1px solid #aeaeae; margin-top:11px; word-spacing:-2px;
behavior: url(PIE.htc); position:relative; z-index:10; cursor:pointer;}
.product-style li .add-collection:hover,.product-style li .add-collection.active{ color:#fff;  -pie-background: linear-gradient(#c80a36, #c80a36); background:#c80a36;}



.jersy-tshirt-mtarr{ width:889px; background-color:#f6f6f6; behavior: url(PIE.htc); border:2px solid #a8a8a8; border-radius:5px; -webkit-border-radius:5px; padding:23px 18px 32px 18px; display:none; /*display:block;*/ overflow:hidden;}
.jersy-tshirt-mtarr-main{ }
.jersy-tshirt-mtarr-main-left{ width:394px; float:left;}
.product-style-large{ background-color:#FFFFFF; border:1px solid #c7c7c7;  behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; /*position:relative; z-index:10;*/ text-align:center; padding-top:19px;}

.view-zoom-image{ overflow:hidden; margin-top:5px; }
.view-zoom-image span{ display:block; font-family: 'interstateregular'; font-weight:normal; font-size:13px; line-height:32px; color:#000000; margin-left:2px;}
.view-zoom-image-main{ background-color:#eeeeee; border:1px solid #c7c7c7; behavior: url(PIE.htc); border-radius:3px; -webkit-border-radius:3px; position:relative; z-index:10;}



.magnifyarea{ /* CSS to add shadow to magnified image. Optional */
   /*background-color: #EEEEEE;
    border: 1px solid #C7C7C7;*/
    border-radius: 3px 3px 3px 3px;
    /*position: relative!important;*/
    z-index: 100;
	top:1539px !important;
	left:228px !important;
	height:170px !important;
	border: 1px solid #C7C7C7 !important;
	/*box-shadow:0px 0px 0px !important;*/
}

/*.view-zoom-image-left{ width:187px; background-color:#eeeeee; border:1px solid #c7c7c7; float:left; behavior: url(PIE.htc); border-radius:3px; -webkit-border-radius:3px; position:relative; z-index:10;}
.view-zoom-image-right{ float:left; margin-left:16px;}
*/



.jersy-tshirt-mtarr-main-description{ width:473px; float:left;  font-family: 'interstateregular'; font-weight:normal; padding-top:13px; margin-left:22px; margin-bottom:7px;}
.jersy-tshirt-mtarr-main-description h3{  font-size:31px; line-height:50px; color:#525151; text-transform:uppercase; word-spacing:13px;}
.jersy-tshirt-mtarr-main-description h3 span{ color:#b40808;}
.rip{ margin-top:2px; margin-bottom:6px;}
.rip li{ background:url(../images/rip-list-style.png) left 12px no-repeat; padding-left:30px; font-size:19px; line-height:32px; color:#7a7a7a;}
/*.rip li a{ font-size:19px; line-height:32px; color:#7a7a7a; display:block;}*/
.jersy-tshirt-mtarr-main-description h4{ font-size:17px; line-height:32px; color:#353434; font-weight:normal;}
.style-list{ margin-top:2px; margin-bottom:17px;}
.style-list li{ background:url(../images/style-list-style.png) left 10px no-repeat; padding-left:20px; font-size:13px; line-height:24px; color:#696969;}
/*.style-list li a{ font-size:13px; line-height:24px; color:#696969; display:block;}*/


.mittelschwerer{ width:338px; background-color:#FFFFFF; behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; position:relative; z-index:10; border:1px solid #c5c5c5; margin-top:13px; overflow:hidden;}
.mittelschwerer span{ display:block; font-size:12px; line-height:35px; color:#373737; padding-left:8px!important; }
.mittelschwerer span span{ background-color:#c5c5c5; display:block;  margin-left:-8px; overflow:hidden; position:relative;}
.mittelschwerer span span span{ background-color:#343434; color:#FFFFFF; display:inline-block; padding:0px 11px 0px 8px!important; position:absolute; margin-left:0px!important; right:0px; bottom:0px;}
.top-space{ margin:28px 0px 10px 0px;}
.standerd-faben{ display:inline-block;}
.standerd-faben li{ width:30px; background-color:#FFFFFF; behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; position:relative; z-index:10; -moz-box-shadow: 2px 2px 2px #d1d1d1; -webkit-box-shadow: 2px 2px 2px #d1d1d1; box-shadow: 2px 2px 2px #d1d1d1; height:25px; padding:2px;  color:#000000; float:left; margin:0px 4px 7px 0px;}
.standerd-faben li a{ display:block; height:25px; width:31px;}
.standerd-faben li span{ position:absolute; background:url(../images/color-dot-image.png) right bottom no-repeat; right:2px; bottom:2px; display:block; height:5px; width:5px; text-indent:-9999px;}

.varlanten{ clear:both; margin-bottom:15px;}
.varlanten h4{ font-size:17px; line-height:32px; color:#353434; font-weight:normal; font-family: 'interstateregular'; font-weight:normal; margin-bottom:15px;}
.varlanten ul{ background-color:#e5e5e5; behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; position:relative; z-index:10; border:1px solid #c7c7c7; overflow:hidden; padding:15px 0px 16px 0px;}
.varlanten li{ float:left; width:155px; margin-left:24px;}
.varlanten li a{ display:block;}
.varlanten li span{ font-size:14px; line-height:20px; color:#000000; display:inline-block; padding-top:6px;}
.varlanten li span span{ color:#b40808;}
.preis-button{ font-size:13px; line-height:29px; color:#FFFFFF; background-color:#343434;  behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; position:relative; z-index:10; border:0px; cursor:pointer; font-family: 'interstateregular'; font-weight:normal; margin-top:12px; padding:0px 13px 0px 11px;/* width:140px;*/} 
.left-margin{ margin-left:16px!important;}


.different-size-weight{ width:427px; float:left; background-color:#e5e5e5; behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; position:relative; z-index:10; border:1px solid #c7c7c7; padding-bottom:16px; margin-bottom:23px;}

.different-size{  width:244px; float:left; background-color:#e5e5e5; behavior: url(PIE.htc); border-radius:4px; -webkit-border-radius:4px; position:relative; z-index:10; border:1px solid #c7c7c7; margin-left:18px; padding:16px 0px 13px 0px; text-align:center;}
.different-size a{ display:block;}
.subpage-logo{ width:180px; float:left; margin-left:16px; padding-top:20px;}
.subpage-logo a{ display:block;}



/*----- Productpage2 page End -----*/





/*----- Login page Start -----*/

.loginpage-bottom{ background:url(../images/loginpage-bottom-bg.png) left bottom no-repeat; padding-bottom:9px; width:903px;}
.loginpage-bottom h2{ background:url(../images/loginpage-top-bg.png) left top no-repeat; color:#424242; font-size:24px; line-height:42px;  font-family: 'interstateregular'; font-weight:normal; padding-left:22px;}
.loginpage-mid{ background:url(../images/loginpage-mid-bg.png) left top repeat-y;  padding:36px 0px 13px 20px;}
.loginpage-mid span{ font-size:12px; line-height:17px; color:#383838; display:block;}
.loginpage-mid ul{ margin-top:21px;}
.loginpage-mid li{ overflow:hidden;} 
.loginpage-mid li label{ font-size:13px; line-height:36px; color:#262525; width:200px; float:left;}
.right_input{ background:url(../images/email-text-image.png) left top no-repeat; height:28px; width:230px; float:left;}
.right_input input[type="text"],.right_input input[type="password"]{ border:none; background:none;  height:28px; width:230px;}
.loginpage-mid li a{ }
.loginpage-mid .forget-password{ color:#b40808; font-size:11px; line-height:13px; margin-left:8px;}
.remember{ float:left; font-size:12px; color:#757474; line-height:32px; margin-left:200px; width:140px;}
.remember input[type="checkbox"]{ margin-right:10px; margin-top:10px; float:left;}
.login-button{ float:left;  /*margin-top:4px;*/}
.login-button div{ background:url(../images/login-button.png) right bottom no-repeat;  display:inline-block;  height:32px; padding-right:4px;}
.login-button input[type="submit"]{ background:url(../images/login-button.png) left top no-repeat; cursor:pointer; display:inline-block; height:32px; font-size:12px; line-height:32px;  font-family: 'helveticabold'; color:#FFFFFF; padding:0px 18px 5px 22px; border:none;}
.loginpage-mid li strong{ display:block;}


/*----- Login page End -----*/



/*----- Registration page Start -----*/
.registration-form{ margin-top:0px !important;  width:440px;}
.loginpage-mid li h3{ font-size:18px; line-height:36px; color:#565656; font-family: 'interstateregular'; font-weight:normal; margin:7px 0px 7px 0px ;}
.right_select{ background:url(../images/registration-page-select-image.png) left top no-repeat; height:29px; width:230px; float:left;}
.right_select select{ background:none; border:none; height:29px; width:230px; padding:5px;}
.right_input2{ width:230px; float:left;}
.right_input2 input[type="text"]{ background:url(../images/right-input2-image.png) left top no-repeat; width:89px; height:28px; float:left; border:none;}
.capcha{ background:url(../images/capcha-bg.png) left top no-repeat; width:74px; height:26px; font-size:15px; line-height:26px; color:#3f3d3d; font-weight:bold; margin-left: 10px; text-align: center; float:left;}
.terms-condition{ padding-right:43px; margin-top:15px;}
.terms-condition p{ font-size:13px; line-height:15px; color:#000;}
.terms-condition p a{ text-decoration:underline; color:#b40808; font-size:13px; margin-left:0px;}
.terms-condition p input[type="checkbox"]{ /*float:right; margin-top:16px;*/ position:relative; top:3px; left:11px;}
.terms-condition .login-button{ float:right !important; margin-top:19px; margin-bottom:41px;}

/*----- Registration page End -----*/


/*----- Myaccount page Start -----*/

.account-detail{ position:relative;}
.account-detail h2{ font-size:14px; line-height:18px; color:#424242; font-family: 'interstateregular'; font-weight:normal; margin-top:6px;}
.account-detail h2 span{ color:#b40808;}
.about-profile{ margin-top:34px;}
.about-profile li{ overflow:hidden;}
.about-profile li label{ width:250px; font-size:13px; line-height:44px; color:#383838; display:inline-block; float:left;}
.about-profile li p{ color:#383838; font-size:11px; line-height:44px; float:left; margin-left: 14px; margin-right: 99px; width: 325px;}
.about-profile li a{ background:url(../images/myaccount-edit-button.png) right bottom no-repeat; display:inline-block; height:34px; float:left;  margin-right: 6px; margin-top: 4px;}
.about-profile li a span{ background:url(../images/myaccount-edit-button.png) left top no-repeat; display:inline-block; line-height:34px; font-size:12px; color:#2c2c2c; margin-right:6px; padding:0px 20px 0px 26px; margin-right: 6px;}
.add-address{ padding:0px 7px 0px 17px !important;}
.myaccount-select{ background:url(../images/myaccount-select-box.png) left top no-repeat; height:30px; width:335px; float:left; margin:6px 92px 0px 12px;}
.myaccount-select select{ background:none; border:none; height:30px; width:335px; line-height:30px; color:#383838; font-size:11px; padding:7px;}

.about-orders{ margin-top:18px;}
.about-orders li{ overflow:hidden;}
.about-orders li label{ color:#383838; font-size:11px; display:block;}
.myaccount-input-text{ margin:9px 0px 17px 0px;}
.myaccount-input-text textarea{ background-color:#e6e6e6; behavior: url(PIE.htc); border-radius:5px; -webkit-border-radius:5px; position:relative; z-index:10; border:1px solid #c4c4c4; color:#474747; font-size:11px; line-height:13px; width:584px; height:43px; padding:5px;}
.about-orders li .login-button{ margin-top:4px; margin-bottom:11px;}
.about-orders li .login-button input[ type="submit"]{ padding:0px 14px 3px 18px;}




/*----- Myaccount page End -----*/


/*----- error message class -----*/

.alert-red{ color:#FF0000 !important;}




/*----- error message class -----*/

	.message_box{ width:500px; overflow:hidden; text-align:center;  padding:5px 5px 5px 30px; height:20px; border:1px solid #FF0000; background:#F5A9A9;  }
	.message_box span{  background:url(../images/error.png) 4px 3px no-repeat; color:#333; font:bold 13px/19px arial; padding-left:26px; display:inline-block; }


   .error-message{
	background: none repeat scroll 0 0 #F0FFF0;
    border: 1px solid #00FF00;
    height: 20px;
    overflow: hidden;
    padding: 5px 5px 5px 30px;
    text-align: center;
    width: 500px;
    }
    .error-message span {
    background: url("../images/done.gif") no-repeat scroll 4px 3px transparent;
    color: #333333;
    display: inline-block;
    font: bold 13px/19px arial;
    padding-left: 26px;
}

/*----- Myaccount popup page Start -----*/

.popup{ overflow:hidden; display:none;  background: url(../images/black-opq.png) repeat left top; height:100%; width:100%; position:absolute; z-index:100;}


.myaccount-border-top{ background:url(../images/myaccount-border-top.png) left top no-repeat; padding-top:7px; float:left; width:400px; margin:70px 71px 0px 19px;}
.myaccount-border-bottom{ background:url(../images/myaccount-border-bottom.png) left bottom no-repeat; padding-bottom:6px;}
.myaccount-border-mid{ background:url(../images/myaccount-border-mid.png) left top repeat-y;}

.myaccount-border-mid h2{ margin-top:0px; font-size:15px; line-height:18px; color:#202020; padding:8px 0px 0px 14px;}
.myaccount-border-mid ul{ margin-top:8px;}
.myaccount-border-mid li{ overflow:hidden; }
.myaccount-border-mid li label{ float:left; font-size:12px; line-height:35px; color:#383838; width:135px; margin:0px 9px 0px 14px;}
.profile-select{ background:url(../images/general-profile-select-box.png) left top no-repeat; width:178px; height:29px; float:left; margin-top:3px;}
.profile-select select{ background:none; border:none; height:29px; width:178px; padding:5px;}
.birthday-select{ background:url(../images/birthday-select.png) left top no-repeat; width:69px; margin-right:7px;}
.birthday-select select{ width:69px;}
.myaccount-border-mid .right_input{ margin-top:4px;}
.myaccount-border-mid li .login-button{margin:5px 0px 5px 157px;}

.for-same-date{ overflow:hidden; margin:5px 0px 10px 14px;}
.for-same-date span{ font-size:11px; line-height:15px; color:#383838; float:left; margin-right:10px;}
.for-same-date input[type="checkbox"]{ float:left;}
.myaccount-border-mid li label small{ display:block; font-size:12px; line-height:15px; margin-top:-12px;}



.account-detail.active .popup{ display:block;}

/*----- Myaccount popup page End -----*/



/*----- Contact-us page Start -----*/

.contact-us-main{ width:590px; margin:0 auto;}
.contact-us{ overflow:hidden;}
.contact-us li{ float:left; margin-right:100px;}
.contact-us li label{ display:block; float:none;}
.contact-us li textarea{ width:550px;}


/*----- Contact-us page End -----*/
