<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size:12px;">
    <tr>
      <td align="center" valign="top" style="padding:20px 0 20px 0"><table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="99%" style="border:1px solid #E0E0E0;">
          <!-- [ header starts here] -->

          <tr>
            <td valign="top"><a href="index.html"><img src="[LOGOPATH]"  alt=""  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>

          <!-- [ middle starts here] -->
          <tr>
            <td valign="top" style="padding-left:10px; padding-top:10px;"><h1 style="font-size:22px; float:none; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Dear, [username]</h1>
              <p style="font-size:12px; line-height:16px; margin:0;"> Thank you for your order from Sparx IT Solutions Pvt. Ltd. You can check the status of your order by <a href="http://www.sparxitsolutions.com/clients/identitees/login.php" style="color:#1E7EC8;">logging into your account</a>.
                If you have any questions about your order please contact us at <a href="mailto:info@identitees.com" style="color:#1E7EC8;">info@shirtlab.com</a>. </p>

          <p style="font-size:12px; line-height:16px; margin:0;">Your order confirmation is below. Thank you again for your business.</p>          </tr>
          <tr>
            <td><h2 style="font-size:18px; font-weight:normal; margin:0;">Your Order [ORDERID] <small>([ORDERDATE])</small></h2></td>
          </tr>
		  <tr>
            <td><h2 style="font-size:18px; font-weight:normal; margin:0;">Delivery Time [DELIVERY_TIME] <small></small></h2></td>
          </tr>
          <tr>
            <td><table cellspacing="0" cellpadding="0" border="0" width="100%">

                <thead>
                  <tr>
                    <th align="left" width="343" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Invoice Address:</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Delivery Address:</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td valign="top" style="font-size:12px; width:343px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;"><table width="100%" border="0" style="line-height:20px; font-size:12px;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top">[IN_FIRMA]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[IN_NAME]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[IN_EMAIL]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [IN_ADDRESS] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [IN_CITY] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [IN_ZIP] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [IN_MOBILE] </td>
                        </tr>
                      </table></td>
                    <td width="10">&nbsp;</td>

                    <td valign="top" style="font-size:12px; width:325px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;"><table width="100%" border="0" style="line-height:20px;  font-size:12px;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top">[DE_FIRMA]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[DE_NAME]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[DE_EMAIL]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [DE_ADDRESS] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [DE_CITY] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [DE_ZIP] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [DE_MOBILE] </td>
                        </tr>
					</table></td>
                  </tr>
                </tbody>
              </table>

              <br/>
				


              <table cellspacing="0" cellpadding="0" border="0" width="100%">				   
				<thead>
                  <tr>
                    <th align="left" width="343" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Grafic Address:</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Payment Type:</th>
                  </tr>
                </thead>
				
                <tbody>
                  <tr>
					<td valign="top" style="font-size:12px; width:325px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;"><table width="100%" border="0" style="line-height:20px;  font-size:12px;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top">[GR_FIRMA]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[GR_NAME]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[GR_EMAIL]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [GR_ADDRESS] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [GR_CITY] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [GR_ZIP] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [GR_MOBILE] </td>
                        </tr>
					</table></td>
                    <td width="10">&nbsp;</td>


<td valign="top" style="font-size:12px; width:325px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;"><table width="100%" border="0" style="line-height:20px;  font-size:12px;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top">[PAYMENTTYPE]</td>
                        </tr>                    
					</table></td>
                  </tr>
                </tbody>
				
              </table>
              <br />


 <table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">

                <tr>
                  <td style="padding:5px 9px; " bgcolor="#eaeaea" colspan="0"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                    <tr>
                <td width="5%" align="left"><div align="center"><strong>SNo.</strong></div></td>
                <td width="15%" align="left"><div align="left"><strong>Product Code</strong></div></td>
                <td width="80%" align="left"><div align="left"><strong>Product Comment</strong></div></td>
                </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="padding:5px 9px; border:1px solid #fff; border-bottom:1px dotted #fff; border-top:none;">[PRODUCT_COMMENT]</td>
                </tr>
              </table><br />

 <table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">

                <tr>
                  <td style="padding:5px 9px; " bgcolor="#eaeaea" colspan="0"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                    <tr>
                <td width="5%" align="left"><div align="center"><strong>SNo.</strong></div></td>
                <td width="15%" align="left"><div align="left"><strong>Product Code</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>View Name</strong></div></td>
                <td width="70%" align="left"><div align="left"><strong>View Comment</strong></div></td>
                    </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="padding:5px 9px; border:1px solid #fff; border-bottom:1px dotted #fff; border-top:none;">[VIEW_COMMENT]</td>
                </tr>
              </table><br />



              <table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">

                <tr>
                  <td style="padding:5px 9px; " bgcolor="#eaeaea" colspan="0"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                    <tr>
                <td width="5%" align="left"><div align="center"><strong>SNo.</strong></div></td>
                <td width="15%" align="left"><div align="left"><strong>Product Code</strong></div></td>
                <td width="25%" align="left"><div align="left"><strong>Quality</strong></div></td>
                <td width="15%" align="left"><div align="left"><strong>Quantity</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>fabric Price</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Delivery</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Qty. Surcharge</strong></div></td>
                <td width="10%" align="left"><div align="left" style="margin-left:5px;"><strong>Total</strong></div></td>

                    </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="padding:5px 9px; border:1px solid #fff; border-bottom:1px dotted #fff; border-top:none;">[FABRIC_DETAIL]</td>
                </tr>
              </table><br />
              
               <table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">

                <tr>
                  <td style="padding:5px 9px; " bgcolor="#eaeaea" colspan="9"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                    <tr>
                <td width="5%" align="left"><div align="center"><strong>SNo.</strong></div></td>
                <td width="15%" align="left"><div align="left"><strong>Product Code</strong></div></td>
                <td width="12%" align="left"><div align="left"><strong>Image</strong></div></td>
                <td width="6%" align="left"><div align="left"><strong>View</strong></div></td>
                <td width="5" align="left"><div align="left"><strong>Type</strong></div></td>
                <td width="24%" align="left"><div align="left"><strong>Pantone No.</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>deco Price</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Surcharge</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Unit Price</strong></div></td>

                    </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="padding:5px 9px; border:1px solid #fff; border-bottom:1px dotted #fff; border-top:none;">[DECO_DETAIL]</td>
                </tr>
              </table><br />
				
              <table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">

                <tr>
                  <td style="padding:5px 9px; " bgcolor="#eaeaea"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                <tr>
                <td width="5%" align="left"><div align="center"><strong>SNo.</strong></div></td>
                <td width="16%" align="left"><div align="left"><strong>Product Code</strong></div></td>
                <td width="33%" align="left"><div align="left"><strong>Item</strong></div></td>
                <td width="16%" align="left"><div align="left"><strong>Size/Quantity</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Quantity</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Unit Price</strong></div></td>
                <td width="10%" align="left"><div align="left"><strong>Total</strong></div></td>
                </tr>
              </table></td>
                </tr>
                <tr>
                  <td style="padding:5px 9px; border:1px solid #eaeaea; border-bottom:1px dotted #eaeaea; border-top:none;">[ITEMS]</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:5px 9px; border:1px solid #eaeaea; border-top:none;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                      <tr>
                        <td align="left" valign="top" style="width:319px;" >&nbsp;</td>
                        <td align="left" valign="top" style="line-height:30px; width:316px;"><table cellspacing="11" cellpadding="0" border="0" width="89%" style=" font-size:12px;">
                            <tr>
                              <td align="right" valign="top" style="width:163px;" > <strong>Subtotal</strong> </td>
                              <td align="right" valign="top" style="width:149px;" > [SUBTOTAL] </td>
                            </tr>

							 <tr>
                              <td align="right" valign="top" style="width:163px;" > <strong>Coupon Value</strong> </td>

                              <td align="right" valign="top" style="width:149px;" > [COUPANVALUE] </td>
                            </tr>
                            
                            <tr>
                              <td align="right" valign="top" style="width:163px;" ><strong>Grand Total</strong> </td>
                              <td align="right" valign="top" style="width:149px;" ><strong>[GRANDTOTAL]</strong> </td>
                            </tr>

                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center>
                <p style="font-size:12px; margin:0;">Thank you, <strong>shirtlab.com</strong></p>

              </center></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>

