<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size:12px;">
    <tr>
      <td align="center" valign="top" style="padding:20px 0 20px 0"><table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
          <!-- [ header starts here] -->

          <tr>
            <td valign="top"><a href="index.html"><img src="http://www.sparxitsolutions.com/clients/identitees/images/logo.jpg"  alt=""  style="margin-bottom:10px;" border="0"/></a></td>
          </tr>
          <!-- [ middle starts here] -->
          <tr>
            <td valign="top"><h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Hello, [username]</h1>
              <p style="font-size:12px; line-height:16px; margin:0;"> Thank you for your order from Sparx IT Solutions Pvt. Ltd. You can check the status of your order by <a href="http://www.sparxitsolutions.com/clients/identitees/login.php" style="color:#1E7EC8;">logging into your account</a>.
                If you have any questions about your order please contact us at <a href="mailto:info@identitees.com" style="color:#1E7EC8;">info@identitees.com</a>. </p>

          <p style="font-size:12px; line-height:16px; margin:0;">Your order confirmation is below. Thank you again for your business.</p>          </tr>
          <tr>
            <td><h2 style="font-size:18px; font-weight:normal; margin:0;">Your Order [orderid] <small>([orderdate])</small></h2></td>
          </tr>
          <tr>
            <td><table cellspacing="0" cellpadding="0" border="0" width="650">

                <thead>
                  <tr>
                    <th align="left" width="343" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Billing Information:</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Shipping Information:</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td valign="top" style="font-size:12px; width:343px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;"><table width="100%" border="0" style="line-height:20px; font-size:12px;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top">[billName]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[billHouseNo]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [billStreet] </td>
                        </tr>
                        <tr>

                          <td align="left" valign="top">[billCityState]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[billCountryPin]</td>
                        </tr>
                      </table></td>
                    <td width="10">&nbsp;</td>

                    <td valign="top" style="font-size:12px; width:325px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;"><table width="100%" border="0" style="line-height:20px;  font-size:12px;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="left" valign="top">[shipName]</td>
                        </tr>
                        <tr>

                          <td align="left" valign="top">[shipHouseNo]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top"> [shipStreet] </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[shipCityState]</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">[shipCountryPin]</td>
                        </tr>
                      </table></td>
                  </tr>
                </tbody>
              </table>

              <br/>
              <table cellspacing="0" cellpadding="0" border="0" width="650">
                <thead>
                  <tr>
                    <th align="left" width="343" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">User E-mail :</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Contact Number :</th>
                  </tr>
                </thead>
				
                <tbody>
                  <tr>
                    <td valign="middle" style="font-size:12px; width:343px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">[userEmail]</td>
                    <td width="10">&nbsp;</td>
                    <td align="center" valign="middle" style="font-size:12px; width:325px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">[ContactNo]</td>
                  </tr>
				  <tr>
				    <td colspan="2" height="8">&nbsp;</td>
				  </tr>
                </tbody>
				   
				<thead>
                  <tr>
                    <th align="left" width="343" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Payment Method:</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Shipping Cost:</th>
                  </tr>
                </thead>
				
                <tbody>
                  <tr>
                    <td align="center" valign="middle" style="font-size:12px; width:343px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">[paymentType]</td>
                    <td width="10">&nbsp;</td>
                    <td align="center" valign="middle" style="font-size:12px; width:325px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">[shippingCost]</td>
                  </tr>
                </tbody>
				
              </table>
              <br />
              <table cellspacing="0" cellpadding="0" border="0" width="650" style=" font-size:12px;">

                <tr>
                  <td style="padding:5px 9px; " bgcolor="#eaeaea"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                      <tr>
                        <td width="218" align="left"><div align="center"><strong>Item</strong></div></td>
                        <td width="126" align="left"><div align="center"><strong>Size</strong></div></td>
                        <td width="93" align="left"><div align="center"><strong>Unit Cost </strong></div></td>
                        <td width="93" align="left"><div align="center"><strong>Quantity</strong></div></td>

                        <td align="center"><div align="center"><strong>Amount</strong></div></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td style="padding:5px 9px; border:1px solid #eaeaea; border-bottom:1px dotted #eaeaea; border-top:none;">[items]</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:5px 9px; border:1px solid #eaeaea; border-top:none;"><table cellspacing="0" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                      <tr>
                        <td align="left" valign="top" style="width:319px;" >&nbsp;</td>
                        <td align="left" valign="top" style="line-height:30px; width:316px;"><table cellspacing="11" cellpadding="0" border="0" width="100%" style=" font-size:12px;">
                            <tr>
                              <td align="right" valign="top" style="width:163px;" > <strong>Subtotal</strong> </td>
                              <td align="right" valign="top" style="width:149px;" > [Subtotal] </td>
                            </tr>

                            <tr>
                              <td align="right" valign="top" style="width:163px;" ><strong> Shipping Cost </strong></td>
                              <td align="right" valign="top" style="width:149px;" > [shippingCost] </td>
                            </tr>
							 <tr>
                              <td align="right" valign="top" style="width:163px;" > <strong>Coupon Value</strong> </td>

                              <td align="right" valign="top" style="width:149px;" > [couponvalue] </td>
                            </tr>
                            
                            <tr>
                              <td align="right" valign="top" style="width:163px;" ><strong>Grand Total</strong> </td>
                              <td align="right" valign="top" style="width:149px;" ><strong>[grandTotal]</strong> </td>
                            </tr>

                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center>
                <p style="font-size:12px; margin:0;">Thank you, <strong>identitees.com.</strong></p>

              </center></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
