<?php $Collection=$this->getLeftBarBrand();
$brandcollection=$Collection->getData();
$nofoBrands=Mage::helper('shopbrand')->getLeftNavigationNoOfBrands();
$allbrands = $Collection->count();
if($nofoBrands==0 || $nofoBrands==''):
    $nofoBrands=$allbrands;
endif;
?>
<?php $brandId = Mage::helper('shopbrand')->getBrandParamsId(); ?>
<div class="block block-layered-nav">
    <div class="block-title">
        <strong><span><?php echo $this->__('Shop By');?></span></strong>
    </div>
    <div class="block-content">
        <dl id="narrow-by-list2">
            <dt><?php echo $this->__('Brands'); ?></dt>
            <div style="height:10px;"></div>
            <select onchange="shopBrandchange(this)" class="shopbranddropdown" id="shopbybrand" name="shopbybrand" style="margin-left: 5%;padding: 2%;width: 90%;">
                <?php $i=0; ?>
                <option value=""><?php echo $this->__('Shop By Brands'); ?></option>
                <?php foreach ($brandcollection as $coll): ?>
                <option value="<?php echo Mage::helper('shopbrand')->getBrandUrl($coll['url_key']) ?>" <?php echo($brandId == $coll['id']?'selected="selected"':'') ?>><?php echo $coll['brand_name']?></option>
                <?php if(++$i==$nofoBrands):break; endif; endforeach; ?>
            </select>
        </dl>
        <div style="height:10px;"></div>
    </div>
</div>
<script type='text/javascript'>
    function shopBrandchange(current){
       if(current.value!==''){
           window.location=current.value;
       } 
    }
</script>