<?php
$collection=$this->getLeftBarBrand(); 
$branddata=$collection->getData();
$allbrands= $collection->count();
$nofoBrands=Mage::helper('shopbrand')->getLeftNavigationNoOfBrands();
if($nofoBrands==0 || $nofoBrands==''):
    $nofoBrands=$allbrands;
endif;
?>
<?php $brandId = Mage::helper('shopbrand')->getBrandParamsId(); ?>
<div class="block block-layered-nav">
    <div class="block-title">
        <strong><span><?php echo $this->__('Shop By');?></span></strong>
    </div>
    <div class="block-content">
        <dl id="narrow-by-list2">
            <dt><?php echo $this->__('Brands'); ?></dt>
            <div style="height:10px;"></div>
            <div class="brand-info-left">
                <ul class="shopbrand-ul">
                    <?php $i = 0;

                    foreach ($branddata as $brand):
                        ?>
                        <li class="brand<?php echo($brandId == $brand['id'] ? ' active' : '') ?>">
                            <div class="brand-name">
                                <a href="<?php echo Mage::helper('shopbrand')->getBrandUrl($brand['url_key']) ?>"><span class="brand-heading"> <?php echo $brand['brand_name']; ?> </span></a>
                            </div>
                        </li>

                        <?php
                        if (++$i == $nofoBrands):break;
                        endif;
                    endforeach;
                    ?>
                </ul>
            </div>
        </dl>
        <div style="height:10px;"></div>
    </div>
</div>
