<?php
/**
 * Shopbrand extension
 *
 * @category   Sparx
 * @package    Shopbrand
 * @author     Sparx
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $brandhelper = Mage::helper('shopbrand'); ?>
<?php $shopbrands = $this->getCollection(); 
?>

<?php
$noimage = $brandhelper->getBrandDefaultImage();
$logowidth = $brandhelper->getBrandListLogoWidth();
$logoheight = $brandhelper->getBrandListLogoHeight();
$showlogo = $brandhelper->getBrandWithLogo();
$pagetitle = $brandhelper->getBrandListPageTitle();
$selected = $this->getRequest()->getParam('start');
if ($logowidth == 0 || $logowidth == '') {
    $logowidth = 100;
}
if ($logoheight == 0 && $logoheight == '') {
    $logoheight = 100;
}
?>
<div class="brand-page-title">
    <?php if ($pagetitle != ''): ?>
        <span class="brand-page-title-name"><?php echo $this->__($pagetitle) ?></span>
    <?php else: ?>
        <span class="brand-page-title-name"><?php echo $this->__("Brands") ?></span>
    <?php endif; ?>
</div>
<?php if (!$shopbrands->count() && !$this->getRequest()->getParam('start')): ?> 
    <p class="note-msg"><?php echo $this->__('There are no Brands matching the selection.') ?></p>
<?php else: ?>
    <?php // echo $this->getChildHtml('product_list_toolbar'); ?>
    <?php if ($shopbrands->getPageSize()): ?>

        <div class="shopbrand-sort">
            <ul id="shopbrand-char-filter">
                <li id="brand"><a href="<?php echo $brandhelper->getBrandListUrl(); ?>">All</a></li>
                <?php //$selected = '';

                for ($i = 65; $i <= 90; $i++) {
                    ?>
                    <?php
                    if (chr($i) == $selected) {
                        $selectedClass = 'selected';
                    } else {
                        $selectedClass = '';
                    }
                    ?>
                    <li class="<?php echo $selectedClass; ?>" id="brand"><a href="<?php echo $brandhelper->getBrandListUrl(); ?>?start=<?php echo chr($i); ?>"><?php echo chr($i); ?></a></li>
        <?php } ?>

             </ul>
        </div>
        <?php if (!$shopbrands->count() && $this->getRequest()->getParam('start')): ?> 
            <div class="no-brands"> 
                <p class="note-msg"><?php echo $this->__('There are no Brands matching the selection.') ?></p>
            </div> 
        <?php else: ?>  
            <div class="brand-info">
                <ul class="shopbrand-ul">
                    <?php
                    foreach ($shopbrands as $brand):
                        $logo = $brand->getLogo();
                        if ($logo != '') {
                            $resizedimage = $brandhelper->getResizedUrl($logo, $logowidth, $logoheight);
                        } else {

                            $resizedimage = $brandhelper->getResizedUrl($noimage, $logowidth, $logowidth);
                        }
                        ?>
                        <li class="brand">

                <?php if ($showlogo): ?>
                                <div class="brand-logo">
                                    <a href="<?php echo $brandhelper->getBrandUrl($brand->getUrlKey()) ?>"><img src="<?php echo $resizedimage; ?>" alt="<?php // echo $brandheading  ?>"/></a>
                                </div>
                <?php endif; ?>
                            <!--<div class="brand-name">-->
                            <a href="<?php echo $brandhelper->getBrandUrl($brand->getUrlKey()) ?>"><span class="brand-heading"> <?php echo $brand->getBrandName(); ?> </span></a>
                            <!--</div>-->
                        </li>
            <?php endforeach; ?>
                </ul>
            </div>
            <?php endif; ?>
        <div class="brand-pager">  
        <?php echo $this->getPagerHtml(); ?>
        </div>    
    <?php endif; ?>
<?php endif; ?>
