<?php
/**
 * Shopbrand extension
 *
 * @category   Sparx
 * @package    Shopbrand
 * @author  Sparx
 */
?>	
<?php
//Get Brand Info
//	$mId  = $this->getRequest()->getParam('id');
$brandId = $this->getCurrentbrandId();
$brandhelper = Mage::helper('shopbrand');
$model = Mage::getModel('shopbrand/shopbrand')->load($brandId);
//echo '<pre>';print_r($model->getData());exit;
$content = $model->getData('content');
$images = Mage::helper('shopbrand')->getSortedImages($content);
//Mage::log($img,null,'test.log');
?>
<div class="brand-image-gallery">
    <img src="<?php echo $model->getLogo() ?>" height="300" width="300" alt="<?php echo $img['label'] ?>"/> 
</div>
<?php /*?><div class="more-views">
    <ul class="brand-image-thumbs">
        <?php foreach ($images as $img) { ?>
            <li>
                <a href="javascript:void(0)">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . '/shopbrand/' . $img['file'] ?>" height="100" width="100" alt="<?php echo $img['label'] ?>"/> 
                </a>
            </li>
        <?php } ?>
    </ul>
</div><?php */?>
<?php if ($model && $model->getId()): ?>
    <?php
    $x = $brandhelper->getBrandViewLogoWidth();
    $y = $brandhelper->getBrandViewLogoHeight();
    $logo = $model->getLogo();
    if ($model->getLogo() != "") {
        $resizedimagepath = $brandhelper->getResizedUrl($model->getLogo(), $x, $y);
    } else {
        $noimage = $brandhelper->getBrandDefaultImage();
        $resizedimagepath = $brandhelper->getResizedUrl($noimage, $x, $y);
    }
    ?>

    <div id="shopbrandwrapper" class="shopbrandwrapper">
        <div class="shopbrand-details">
            <?php /*?><div class="shopbrand-image"> 
                <img src="<?php echo $resizedimagepath; ?>" class="brandimage" alt="<?php echo $model->getBrandName() ?>" border="0" /> 
            </div><?php */?> 
            <div class="brand-info">
                <span class="brandname"><?php echo $model->getBrandName(); ?></span>
                <?php if ($model->getDescription()): ?>
                    <span class="branddesc"><?php echo $model->getDescription(); ?></span>
                <?php endif; ?> 
            </div>
        </div>
    </div>
<?php endif; ?>

<?php echo $this->getChildHtml('shopbrand_product_list'); ?>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('ul.brand-image-thumbs').children('li').click(function(){
            var image = jQuery(this).children('a').children('img').attr('src');
            jQuery('div.brand-image-gallery').children('img').attr('src',image);
        })
    });
</script>
