<?php
/**
 * Pager template
 *
 * @see Mage_Page_Block_Html_Pager
 */
?>
<?php if($this->getCollection()->getSize()): ?>
    <?php $brandhelper = Mage::helper('shopbrand'); ?>
    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getShowAmounts()): ?>
    <p class="amount">
        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>
    <?php endif ?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
        <strong><?php echo $this->__('Page:') ?></strong>
        <ol>
        <?php if (!$this->isFirstPage()): ?>
            <li>
                <?php $pageurl = $this->getPreviousPageUrl(); ?>
                <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
                <a class="previous<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>" title="<?php echo $this->__('Previous') ?>">
                    <?php if(!$this->getAnchorTextForPrevious()): ?>
                        <img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="<?php echo $this->__('Previous') ?>" class="v-middle" />
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForPrevious() ?>
                    <?php endif;?>
                </a>
            </li>
        <?php endif;?>

        <?php if ($this->canShowFirst()): ?>
               <?php $pageurl = $this->getFirstPageUrl(); ?>
               <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
            <li><a class="first" href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>">1</a></li>
        <?php endif;?>

        <?php if ($this->canShowPreviousJump()): ?>
             <?php $pageurl = $this->getPreviousJumpUrl(); ?>
             <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
            <li><a class="previous_jump" title="" href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>">...</a></li>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li class="current"><?php echo $_page ?></li>
            <?php else: ?>
                <?php $pageurl = $this->getPageUrl($_page); ?>
                <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
                <li><a href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>"><?php echo $_page ?></a></li>
            <?php endif;?>
        <?php endforeach;?>


        <?php if ($this->canShowNextJump()): ?>
                <?php $pageurl = $this->getNextJumpUrl(); ?>
                <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
            <li><a class="next_jump" title="" href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>">...</a></li>
        <?php endif;?>

        <?php if ($this->canShowLast()): ?>
            <?php $pageurl = $this->getLastPageUrl(); ?>
            <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
          <li><a class="last" href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>"><?php echo $this->getLastPageNum() ?></a></li>
        <?php endif;?>

        <?php if (!$this->isLastPage()): ?>
            <li>
                 <?php $pageurl = $this->getNextPageUrl(); ?>
                 <?php $urlparam =  substr($pageurl, strpos($pageurl, "/?") + 1); ?>
                <a class="next<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $brandhelper->getBrandListUrl($urlparam); ?>" title="<?php echo $this->__('Next') ?>">
                    <?php if(!$this->getAnchorTextForNext()): ?>
                        <img src="<?php echo $this->getSkinUrl('images/pager_arrow_right.gif') ?>" alt="<?php echo $this->__('Next') ?>" class="v-middle" />
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForNext() ?>
                    <?php endif;?>
                </a>
            </li>
        <?php endif;?>
        </ol>

    </div>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>
