<div class="cartpopup_header">
    <a class="cartpopup_close" href="javascript:void(null)" onclick="thiscartpopup.hidePopup()"><?php echo $this->__('Close'); ?></a>
    <div class="cartpopup_clear"></div>
</div>


<?php echo $this->getLayout()->createBlock('checkout/cart_sidebar')->setTemplate('checkout/cart/sidebar.phtml')->toHtml(); ?>





<div id="cartpopup_overlay">
    <div class="cartpopup_overlay_center">
        <img src="<?php echo $this->getSkinUrl('images/ajaxcartpopup/loading.gif'); ?>" alt="" />
    </div>
</div>

<script>
	
jQuery( ".show_minicart" ).hover(function() {
  jQuery('#cartpopup').show();
});

</script>