
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_serifbold';
    src: url('../fonts/droidserif-bold-webfont.eot');
    src: url('../fonts/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-bold-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-bold-webfont.woff') format('woff'),
         url('../fonts/droidserif-bold-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_serifbold_italic';
    src: url('../fonts/droidserif-bolditalic-webfont.eot');
    src: url('../fonts/droidserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-bolditalic-webfont.woff') format('woff'),
         url('../fonts/droidserif-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-bolditalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_serifitalic';
    src: url('../fonts/droidserif-italic-webfont.eot');
    src: url('../fonts/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-italic-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-italic-webfont.woff') format('woff'),
         url('../fonts/droidserif-italic-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/droidserif-regular-webfont.eot');
    src: url('../fonts/droidserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-regular-webfont.woff') format('woff'),
         url('../fonts/droidserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}