<!--
http://www.skitter-slider.net/documentation
http://magento.stackexchange.com/questions/3418/conditionally-show-hide-blocks-in-layout-xml
http://www.magentocommerce.com/boards/viewthread/78982/ 
-->

<?php  if(!stristr($_SERVER['REQUEST_URI'] , "?" )) {?>
<?php $bannerCollection = $this->_getCollection(); ?>

<?php if (($bannerCollection->count()) > 0) : ?>
	<?php if (Mage::registry("current_category")) {
	    $category = Mage::registry("current_category");
	    $_category = Mage::getModel("catalog/category")->load($category->getId());
	?>	    	
	    <div class="category-title-top">
		<?php echo $_category->getName();?>
		<?php /* echo $this->__('OPEN LINE:'); ?><span><?php echo $this->__('Local:'); ?></span><?php echo $this->__('Amsterdam'); */?>
	    </div>
	<?php }?>	
    <div class="slider category-slider-view">
		<div class="category-social-icons"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('categories-social-icons')->toHtml();?></div>
        <?php $imageCollection = $this->_getBannerImageCollection($bannerCollection); ?>
        <?php foreach ($imageCollection as $item) : ?>
            <?php
            //$height = $item['height']; 
            //$width = $item['width']; 
            $content = $item['content'];
            $advanced_settings = trim($item['advanced_settings']);
            $images = $this->getSortedImages($content);
            ?>
            <?php if (isset($images) && !empty($images) && count($images) > 0) : ?>				
                <div id="slider" class="flexslider">
                    <ul class="slides">

                        <?php foreach ($images as $image): ?>
                            <li>							
                                <img src="<?php echo $this->helper('bannernext')->resizeImg($image['file'], $width, $height); ?>" <?php if (!empty($image['label'])): ?> alt="<?php echo $image['label']; ?>"<?php endif ?>/>
                            </li>
                        <?php endforeach; ?>
                    </ul>			
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php foreach ($imageCollection as $item) : ?>
            <?php
            //$height = $item['height']; 
            //$width = $item['width']; 
            $height = 92;
            $width = 128;
            $content = $item['content'];
            $advanced_settings = trim($item['advanced_settings']);
            $images = $this->getSortedImages($content);
            ?>
            <?php if (isset($images) && !empty($images) && count($images) > 0) : ?>				
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        <?php foreach ($images as $image): ?>
                            <li>							
                                <img src="<?php echo $this->helper('bannernext')->resizeImg($image['file'], $width, $height); ?>" <?php if (!empty($image['label'])): ?> alt="<?php echo $image['label']; ?>"<?php endif ?>/>
                            </li>
                        <?php endforeach; ?>
                    </ul>			
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>


    <link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('flexslider/flexslider.css'); ?>" media="all" />
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('flexslider/jquery.flexslider.js') ?>"></script>

    <script type="text/javascript">
        jQuery(window).load(function () {
            jQuery('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 140,
                itemMargin: 5,
				move : 1,				
                asNavFor: '#slider'
            });

            jQuery('#slider').flexslider({
                animation: "slide",
                controlNav: true,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel",
                start: function (slider) {
                    jQuery('body').removeClass('loading');
                }
            });
        });
    </script>
    
    
    <?php
if (Mage::registry("current_category")) {
    $category = Mage::registry("current_category");
    $_category = Mage::getModel("catalog/category")->load($category->getId());
    $desc = $_category->getDescription();
    $time = $_category->getBoutiqueTimings();
    $address = $_category->getBoutiqueAddress();
    
    if ($_category->getThumbnailImage()) { ?>
        <div class="category-logo"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'catalog/category/' . $_category->getThumbnailImage(); ?>" width="266" height="81" /></div>
    <?php } ?>
    <div class="category-desc">
        <h2><?php echo $this->__('About:'); ?></h2>
        <div id ="desc">
        <?php 
        if(strlen($desc) > 1400)
        {  ?>
    <div id="first"><?php  echo substr($desc,0,1425); ?> </div>
    <div id="second"><?php  echo substr($desc,1425); ?> </div>
    <?php } 
    else
    {
        echo $desc;
    }
    ?>

       </div>
    </div>

    <div class="full-details">

        <p class="readmore-url"><button id ='readmore' class ='' ><?php echo $this->__('Read more'); ?></button></p>

        <div class="address">
            <h3><?php echo $this->__('Our Address:'); ?></h3>
            <?php echo $address; ?>
        </div>
        <div class="show-map">
            <h3><?php echo $this->__('Show Map:'); ?></h3>    
                <script language=javascript src='http://maps.google.com/maps/api/js?sensor=false'></script>
                <div id="map" style="width:340px; height:300px;"></div>
                <script type="text/javascript">
                    function initialize(){
 	            var boutique_lat = "<?php echo $_category->getBoutiqueLat(); ?>";
		        var boutique_lon = "<?php echo $_category->getBoutiqueLon(); ?>";
                    var myLatlng = new google.maps.LatLng(boutique_lat,boutique_lon);
                    var myOptions = {
                        zoom: 13,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                        }
                     map = new google.maps.Map(document.getElementById("map"), myOptions);
                     var marker = new google.maps.Marker({
                         position: myLatlng, 
                         map: map,
                     title:"Fast marker"
                    });
               } 

               google.maps.event.addDomListener(window,'load', initialize);       

                </script>
                </div>
        <div class="show-time">
            <h3><?php echo $this->__('Opening:'); ?></h3>
            <?php echo $time; ?>
        </div>
    </div>
<?php } ?>
        
<?php endif; ?>

<?php } ?>
<script>
jQuery(document).ready(function(){
    jQuery("#second"). hide();
     jQuery('#readmore').on('click', function(event) {        
         jQuery('#second').toggle('show');
    });
});
</script>
