<?php $_helper = $this->helper('catalog/output'); ?>
<?php $brandhelper = Mage::helper('shopbrand'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
$configValue = $brandhelper->getProductpageBrandEnable();
$brandheading = $brandhelper->getProductpageBrandHeading();
$brandlogoheight = $brandhelper->getProductpageBrandLogoHeight();
$brandlogowidth = $brandhelper->getProductpageBrandLogoWidth();
$model = $brandhelper->getProductBrand($_product);
$noimage = $brandhelper->getBrandDefaultImage();
$logo = $model->getLogo();
$brandname = $model->getBrandName();
if ($logo == ''):
    $logo = $noimage;
endif;
if ($brandlogowidth == 0 || $brandlogowidth == '') {
    $brandlogowidth = 100;
}
if ($brandlogoheight == 0 && $brandlogoheight == '') {
    $brandlogoheight = 100;
}
if ($logo != ''):
    $resizedimage = $brandhelper->getResizedUrl($logo, $brandlogowidth, $brandlogoheight);
endif;
?>
<?php if ($configValue && $model->getId()): ?>
    <div class="product-brand-info">
        <div class="product-brand-details"> 
            <h2 class="brand-heading"><?php echo $brandhelper->getProductpageBrandHeading(); ?></h2>
            <div class="brand-logo">
                <a href="<?php echo $brandhelper->getBrandUrl($model->getUrlKey()) ?>">
                    <img src="<?php echo $resizedimage; ?>" alt="<?php echo $brandname ?>"/>
                </a>
            </div>
            <div class="brand-name">
                <?php if (isset($brandname) && $brandname != ''): ?>
                    <span class="brand-heading"> <?php echo $brandname; ?> </span>
                <?php endif; ?>
            </div>
        </div>

    </div>
<?php endif; ?>
