.category-boutiques .boutique-home {
  padding-top: 10px;
}

.boutique-home h1 {
  border: 0px;
}

.boutique-home ul li {
  position: relative;
  text-align: center;
}
.boutique-home ul li img {
  display: inline-block;
}

.boutique-title {
  background: #00ffff;
  height: 112px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: table;
  overflow: hidden;
}
.boutique-title span {
  display: table-cell;
  vertical-align: middle;
}
