#sparxLightbox{ position: absolute;	left: 0; width: 100%; z-index: 60002; text-align: center; line-height: 0; }
#sparxLightbox img{ width: auto; height: auto;}
#sparxLightbox a img{ border: none; }

#sparxOuterImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#sparxImageContainer{ padding: 10px; }

#sparxLoading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#sparxHoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#sparxImageContainer>#sparxHoverNav{ left: 0;}
#sparxHoverNav a{ outline: none;}

#sparxPrevLink, #sparxNextLink{ width: 49%; height: 100%; display: block; }
#sparxPrevLink { left: 0; float: left;}
#sparxNextLink { right: 0; float: right;}
#sparxPrevLink:hover, #sparxPrevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#sparxNextLink:hover, #sparxNextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#sparxImageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#sparxImageData{	padding:0 10px; color: #666; }
#sparxImageData #sparxImageDetails{ width: 70%; float: left; text-align: left; }	
#sparxImageData #sparxCaption{ font-weight: bold;	}
#sparxImageData #sparxNumberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#sparxImageData #sparxBottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}

#sparxOverlay{ position: absolute; top: 0; left: 0; z-index: 60001; width: 100%; height: 500px; background-color: #000; }