<div class="boutique-home page-inner">
<h1>
 <span><?php echo $this->__("VISIT A BOUTIQUE OF OUR WEB");?></span>
</h1>
<ul>
<?php
$subcategories = Mage::getModel("catalog/category")->load(8)->getChildren();
foreach(explode(',',$subcategories) as $subcategory) {
	$category = Mage::getModel('catalog/category')->load($subcategory);?>
	<li>
		<a href="<?php echo $category->getURL()?>" /><?php //echo $category->getName();?>
		<?php if($category->getBoutiqueImage()){?>
		<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/'.$category->getBoutiqueImage();?>">
		<?php }?>
		
		<div class="boutique-title">
			<span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/'.$category->getThumbnailImage();?>"  /></span>
		</div>
		</a>
	</li>
<?php } ?>
</ul>
</div>