<div class="slideshow-container">
<ul class="slideshow">
<li><a href="#"><img alt="" src="<?php //echo $this->getSkinUrl();?>images/slider2.jpg" /></a></li>
<li><a href="#"><img alt="" src="<?php //echo $this->getSkinUrl();?>images/slider1.jpg" /></a></li>
</ul>
<div class="slideshow-pager">&nbsp;</div>
<span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span></div>
