/* CSS Document */

body{
	margin:0px;
	padding:0px;
	line-height:16px;
	font-family:Georgia;
	font-size:13px;
	color:#323232;
	background:#F8F2DC;
}

p,ul,li,h1,h2,h3,h4,h5,h6,form,input,select{ margin:0; padding:0;}
input{
		font-family: "Georgia";
		font-size:12px;
		}
		
		
.tel{
	width:150px;
	font-family:Georgia;
	font-size:12px;
}


/* styles for controlling thr common styles */

h1{
	font-weight:normal;
	font-family:Georgia;
	padding:5px;
	margin:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	color:#5B5C5D;
}

.one-row{
		background:#EAF3FA;
}

a{
	font-family:Georgia;
	
	font-size:12px;
	color:#323232;
	text-decoration:underline;
}

a:hover{
	font-family:Georgia;
	font-size:12px;
	color:#323232;
	text-decoration:none;
}
input{border:1px solid #CCCCCC;
}
select{border:1px solid #CCCCCC;
}

/* for menus from caseable */

.breadcrum{ padding:5px 0 0 0px; }
.breadcrum ul{list-style:none; padding-left:12px; margin:0; }
.breadcrum li {float:left;padding:5px; }
.breadcrum li a{font:bold 13px Arial, Helvetica, sans-serif; color:#1f1f1f; padding:0px 5px 0 0px; text-decoration:underline; display:inline-block;}
.breadcrum li a:hover{color:#0000FF; font:bold 14px Arial, Helvetica, sans-serif; }
.breadcrum_active{  font:bold 13px Arial, Helvetica, sans-serif !important; color:#6F0229 !important; letter-spacing:+1px;}
/* styles for controlling thr common styles */

/* styles for  login page */

#header{
	background:#6f0229;
	padding:5px 10px 5px 20px;
	overflow:hidden;
}

#header #header-left{
	float:left;
	font-weight:normal;
	padding:10px 0px 5px 5px;;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	color:#D7E2DA;
}
#header-left a{
	color:#D7E2DA;}
.header-anchor{
	font-size:12px;
	float:left;
	}	
.header-anchor a{
	color:#D7E2DA;
	text-decoration:blink;
	
}
#header #header-right{
	float:right;
	color:#D7E2DA;
	padding:13px 0px 0px 2px;;
}

#header #header-right a{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
}

#header #header-right a:hover{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
	border-bottom:1px dotted #D7E2DA;
}

#header #header-right a:focus{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
	border-bottom:1px dotted #D7E2DA;
}

#header h1{
	color:#D7E2DA;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#header p{
	color:#D7E2DA;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size:9px;
}

#header h1 span{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
}

#header h1 span a{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
}

#header h1 span a:hover{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
	border-bottom:1px dotted #D7E2DA;
}

#header h1 span a:focus{
	color:#D7E2DA;
	font-size:12px;
	font-family:Georgia;
	text-decoration:none;
	border-bottom:1px dotted #D7E2DA;
}

#login-box{
	margin:150px auto 0px auto;
	padding:15px;
	width:253px;
	background:#e0d4d3;
	font-size:12px;
}

#login-box .input-box{
	border:2px solid #D0BBCE;
	width:250px;
	height:25px;
	clear:both;
	font-family:Georgia;
	font-size:20px;
	line-height:25px;
}

#login-box .input-box:focus{
	border:2px solid #D0BBCE;
	clear:both;
}

#login-box .input-button{
	font-family:Georgia;
	background:#6f0229;
	border:1px solid #6f0229;
	cursor:pointer;
	color:#e0d4d3;
}#login-box .input-button a{
	font-family:Georgia;
	background:#6f0229;
	border:1px solid #6f0229;
	cursor:pointer;
	color:#e0d4d3;
}

#login-box .input-button a:hover{
	font-family:Georgia;
	background:#6f0229;
	border:1px solid #6f0229;
	cursor:pointer;
	color:#e0d4d3;
}

#login-box .input-button:focus{
	font-family:Georgia;
	 background:#6f0229;
}

#login-box span{
	display:block;
	float:left;
}

#lost-password{
	font-size:11px;
	margin:7px auto 0px auto;
	width:250px;
}

#lost-password a{
	font-size:11px;
	color:#B9B9B9;
	text-decoration:underline;
}

#lost-password a:hover{
	font-size:11px;
	color:#B9B9B9;
	text-decoration:none;
}

#lost-password a:focus{
	font-size:11px;
	color:#B9B9B9;
	text-decoration:none;
}

/* styles for  login page */

/* styles for forgot password page */

#forgot-password{
	margin:0px auto 0px auto;
	padding:15px;
	width:353px;
	background:#e0d4d3;
	font-size:12px;
	overflow:hidden;
}

#forgot-password div{
	float:left;
}

#forgot-password .input-box{
	border:1px solid #C6D9E9;
	width:290px;
	height:25px;
	font-family:Georgia;
	font-size:20px;
	line-height:25px;
}

#forgot-password .input-box:focus{
	border:1px solid #6f0229;
	clear:both;
}

#forgot-password .input-button{
	font-family:Georgia;
	 background:#6f0229;
	border:1px solid #6f0229;
	height:29px;
	margin:10px 0px 0px 4px;
	color:#FFFFFF;
}

#forgot-password .input-button:hover{
	font-family:Georgia;
	 background:#6f0229;
	border:1px solid #6f0229;
	color:#FFFFFF;
}

#forgot-password .input-button:focus{
	font-family:Georgia;
	 background:#6f0229;
	border:1px solid #6f0229;
	color:#FFFFFF;
}

.email-text{
	margin:150px auto 20px auto;
	width:500px;
	text-align:center;
}

/* styles for forgot password page */

/* styles for sent successfully page */

.sent-successfully{
	
}

/* styles for sent successfully page */

/* styles for welcome page */

#nav-under-bg{
	height:5px;
	clear:both;
}

.welcome-text{
	padding:10px;
	font-size:16px;
	text-align:center;
}

/* styles for welcome page */

/* Validation classes */

.error{
	clear:both;
	height:30px;
	width:310px;
	line-height:30px;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 40px;
	border:1px solid #CC0000;
	font-style:italic;
	background:#FDE4E2 url(../images/error.png) 10px 5px no-repeat;
}

.correct{
	clear:both;
	height:30px;
	width:315px;
	line-height:30px;
	margin:0px 0px 10px 0px;
	padding:0px 0px 0px 35px;
	border:1px solid #3B921A;
	font-style:italic;
	background:#D8F2C6 url(../images/success.png) 10px 5px no-repeat;
}

/* Validation classes */

/* additional classes */

.add-top-padd{
	padding:3px 0px 0px 0px;
	height:20px;
	width:22px;
	display:block;
	float:left;
}

.add-top-padd2{
	padding:5px 0px 0px 0px;
	height:20px;
	width:174px;
	display:block;
	float:left;
}

/* additional classes */


/* Country Starts */

#content-main-div{
	width:720px;
	margin:0 auto;
	border:1px solid #6f0229;
	overflow:hidden;
	background:#fbf7fa;
	}
	
.content-main-div-light{
	width:880px;
	margin:0 auto;
	border:1px solid #6f0229;
	overflow:hidden;
	}
	
	
	
	
#content-main-div-country{
	width:765px;
	margin:0 auto;
	border:1px solid #6f0229;
	overflow:hidden;
	}
	
.content-main-header-div{
	margin:0 auto;
	overflow:hidden;
	text-align:center;
	font-size:13px;
	background:#fbf7fa;
	}
.manage-country{
	font-weight:bold;
	padding:10px 0px 10px 25px;
	color:#FFFFFF;
	float:left;
	font-size:16px;
	width:100%;
	text-align:center;
	background:#6f0229;
	
	}
.manage-country1{
	font-weight:bold;
	color:#FFFFFF;
	font-size:14px;
	}
.top-add-country{
	color:#FFF;
	padding-top:10px;
	}
.top-add-country a{
	color:#FFF;
	padding-top:10px;
	text-decoration:underline;
	}
.top-add-country a:hover{
	text-decoration:none;
	}

.top-add-text{
	color:#6f0229;;
	text-align:right;
	}
.top-add-text a{
	color:#6f0229;;
	text-decoration:underline;
	}
.top-add-text a:hover{
	text-decoration:none;
	}

	
	
.content-main-sub-div{
	width:100%;
	overflow:hidden;
	background-color:#C9B8C6;
	height:40px;
	font-size:13px;
	font-weight:bold;	
	}
.content-main-sub-div1{
	width:100%;
	overflow:hidden;
	
	}
.serial{
	width:47px;
	float:left;
	padding:12px 0px 0px 3px;
	
	}
.country{
	width:241px;
	float:left;
	padding:12px 0px 0px 5px;
	}
	
.prod-light{
	width:300px;
	float:left;
	padding:12px 0px 0px 5px;
	}	
	
.country-header{
	width:185px;
	float:left;
	padding:12px 0px 0px 5px;
	}
.category{
	width:200px;
	float:left;
	padding:12px 0px 0px 25px;
	}	
.status{
	width:93px;
	float:left;
	padding:12px 0px 0px 0px;
	text-align:center;
	}
	
.status-pro{
	width:105px;
	float:left;
	padding:12px 0px 0px 0px;
	text-align:center;
	}	
	
.status-pro-img{
	width:93px;
	float:left;
	padding:1px 0px 0px 0px;
	text-align:center;
	}	
		
	
	
.status-new{
	width:100px;
	float:left;
	padding:12px 0px 0px 0px;
	}
.status-cat{
	width:150px;
	float:left;
	padding:12px 0px 0px 0px;
	text-align:center;
	}
.date{
	width:164px;
	float:left;
	padding:12px 0px 0px 10px;

	}
.edite{
	width:72px;
	float:left;
	padding:12px 0px 0px 5px;
	}
.delete{
	width:75px;
	float:left;
	padding:12px 0px 0px 5px;
	}
	
.delete-pro{
	width:90px;
	float:left;
	padding:12px 0px 0px 5px;
	}
	
.edite-cat{
	width:130px;
	float:left;
	padding:12px 0px 0px 15px;
	}
.delete-cat{
	width:130px;
	float:left;
	padding:12px 0px 0px 5px;
	}
	
.armenia-main-subdiv1{
	width:294px;
	float:left;
	height:30px;
	color:#00000;
	background-color:#ECD9E8;
	}
.armenia-main-subdiv-co{
	width:340px;
	float:left;
	height:30px;
	background-color:#6f0229;;
	}
	
.armenia-main-subdiv2{
	width:294px;
	float:left;
	height:30px;
	background-color:#F9FCFF;
	}
	
.armenia-main-subdiv2-co{
	width:340px;
	float:left;
	height:30px;
	background-color:#E9E9E9;	
	}	
.armeniatext{
	width:230px;
	padding:6px 0px 0px 10px;
	overflow:hidden;		
	}
	
.armeniatext-3{
	width:180px;
	padding:6px 0px 0px 10px;
	overflow:hidden;
	float:left;
	}	
.armeniatext1{
	width:230px;
	padding:6px 0px 0px 10px;
	overflow:hidden;
	color:#000;
	}
.armeniatext1-co{
	width:180px;
	padding:6px 0px 0px 10px;
	overflow:hidden;
	color:#FFFFFF;
	float:left;
		}
.armeniatext1-co2{
	width:100px;
	float: right;
	color:#FFFFFF;
	padding:6px 0px 0px 0px;
	}	
.armeniatext1-co3{
	width:100px;
	float: right;
	color:#000000;
	padding:6px 0px 0px 0px;
	}		
	
.numbering{
	width:42px;
	float:left;
	padding:6px 0px 0px 0px;
	text-align:center;
	}
.numbering1{
	width:42px;
	float:left;
	padding:6px 0px 0px 0px;
	text-align:center;
	color:#000;
	}
.active-text{
	width:93px;
	float:left;
	height:30px;
	text-align:center;
	line-height:30px;
	background-color:#ECD9E8;
	}
.active-text-all{
	width:93px;
	float:left;
	height:30px;
	text-align:center;
	line-height:30px;
	background-color:#F9FCFF;
	}
	
	
.date-main-subdiv1{
	width:332px;
	float:left;
	background-color:#ECD9E8;
	float:left;	
	height:30px;
	color:#000000;
	}
.date-main-subdiv2{
	width:332px;
	float:left;
	background-color:#F9FCFF;
	float:left;	
	height:30px;	
	}
.date-word{
	width:158px;
	float:left;
	padding:6px 0px 0px 10px;
	}
.date-word-copy{
	width:158px;
	float:left;
	padding:6px 0px 0px 10px;
	color:#000000;
	}
.date-word1{
	width:55px;
	float:left;
	margin:6px 0px 0px 20px;
	}
.date-word2{
	width:61px;
	float:left;
	margin:6px 0px 0px 20px;
	}
.footer-main-div{
	width:100%;
	overflow:hidden;
	}
.footer-main-subdiv{
	width:390px;
	margin:15px 0px 10px 170px;
	overflow:hidden;
	float:left;
	}
.previous{
	width:79px;
	float:left;
	padding:0px 0px 0px 5px;
	font-size:14px;
	font-weight:bold;
	}
.previous1{
	width:241px;
	float:left;
	padding:0px 0px 0px 0px;
	font-size:14px;
	font-weight:bold;
	}
.next{
	width:47px;
	float:left;
	padding:0px 0px 0px 0px;
	font-size:14px;
	font-weight:bold;	
	}
	
#main-form{
	width:600px;
	margin:20px 0px 0px 350px;
	overflow:hidden;
	border: 1px solid #6f0229;
	background:#fbf7fa;	}
.main-add-form-box{
	width:381px;
	float:left;
	overflow:hidden;}




	
#main-form-add{
	width:765px;
	margin:0 auto;
	overflow:hidden;
	border: 1px solid #000000;
	}	
#main-form-header{
	background-color:#6f0229;;
	color:#FFFFFF;
	font-size:15px;
	height:27px;
	line-height:27px;
	text-align:center;
	
	}
	
.main-form-text{
	width:180px;
	float:left;
	padding:15px 0px 0px 20px;
	color:#000000;
	font-size:12px;
	}
.main-form-text-less-width{
	width:110px;
	float:left;
	padding:15px 0px 0px 20px;
	color:#000000;
	font-size:12px;
	}
.main-form-text-add{
	width:150px;
	float:left;
	padding:15px 0px 0px 20px;
	color:#000000;
	font-size:12px;
	}
				
.main-form-text-box{
	margin:15px 0px 0px 0px ;
	float: left;
	}
.form-text-box{
	width:140px;
	color:#000000;
	font-size:12px;
	}	
.form-clear{
	clear:both;
	padding:15px 15px;
	text-align:center;

	}	
.input-buttons{
	background-color:#e0d4d3;
	font-family:Georgia;
	border:1px solid #e0d4d3;
	cursor:pointer;
}

 .input-buttons:hover{
	font-family:Georgia;
	background:#e0d4d3;
	border:1px solid #e0d4d3;
}	


/*********************************************admin section *********************************************************/
.main-body-div-width{
	width:890px;
	margin:0 auto;
	overflow:hidden;
	padding-top:0px;
	border: 1px solid #6f0229;
	margin-top:20px;
	
	}
.Error-Msg{
	border:1px solid #FF0000;
	margin:0 auto;
	text-align:center;
	background-color:#f6d8d1;
	padding:5px 18px 5px 18px;
	font-size:12px;
	color:#FF0000;
	font-weight:bold;}	
	
.Success-Msg{
	border:1px solid #6D8D7E;
	margin:0 auto;
	text-align:center;
	background-color:#D3FEE0;
	padding:5px 18px 5px 18px;
	font-size:12px;
	color:#6D8D7E;
	font-weight:bold;}		
	
.main-body-div{
	width:830px;
	margin:20px 0px 40px 240px;
	overflow:hidden;
	border: 1px solid #6f0229;
	background:#fbf7fa;
	
	}
.main-body-div-less-width{
	width:620px;
	margin:20px 0px 20px 240px;
	overflow:hidden;
	border: 1px solid #6f0229;
	
	}	
.main-body-div-space{
	margin:41px 0px 0px 0px ;
	border: 1px solid #6f0229;
	overflow:hidden;
	}	
	
.main-body-div-header{
	background-color:#6f0229;
	height:30px;
	width:100%;
	color:#FFFFFF;
	font-size:17px;
	text-align:center;
	line-height:30px;
	margin-top:0px;
	}
.main-body-header-text-top{
	width: auto;
	float:left;
	padding-left:350px;
	}	
	
.main-body-adduser{
	font-size:12px;
	color:#FFFFFF;
	margin-left:210px;
	}		
	
.main-body-adduser a{
	font-size:12px;
	color:#FFFFFF;
	
	}		
	
.main-body-content-text-div{
	overflow:hidden;
	margin:10px 0px 0 0px ;
	background:url(../images/title-bg.jpg) left top repeat-x;
	height:30px;
	border-bottom:1px solid #6F0229;
	}		
	
.main-body-content-text-div ul{
	margin:0px;
	padding:0px;
	}
.main-body-content-text-div li{
	list-style:none;
	float:left;
	padding:5px 0px 0px 0px ;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	}	
.main-body-administrator-brown{
	
	background-color:#6f0229;
	height:25px;
	color:#ffffff;
	font-size:13px;
	line-height:25px;
	padding-left:10px;
	font-weight:bold;
	}
.main-body-administrator{
	
	background-color:#EBEBEB;
	height:25px;
	color:#000000;
	font-size:13px;
	line-height:25px;
	padding-left:10px;
	}
.main-body-administrator-new{
	height:25px;
	color:#000000;
	font-size:13px;
	line-height:25px;
	padding-left:10px;
	}	
.main-body-bynic{
	overflow:hidden;
	margin:0px 0px 0px 0px ;
	font-family:Georgia;
	background-color:#F9FCFF;
	}
.main-body-bynic ul{
	margin:0px;
	padding:0px;
	}
.main-body-bynic li{
	list-style:none;
	float:left;
	font-size:14px;
	color:#000000;
	font-family:Georgia;
	padding:10px 0px 0px 10px;
	}
	
	
	
.main-body-bynic2{
	overflow:hidden;
	margin:0px 0px 0px 0px ;
	font-family:Georgia;
	background-color:#ECD9E8;
	
	}
.main-body-bynic2 ul{
	margin:0px;
	padding:0px;
	}
.main-body-bynic2 li{
	list-style:none;
	float:left;
	font-size:14px;
	color:#000000;
	font-family:Georgia;
	padding:10px 0px 0px 10px;
	}	
	
	
	
.mainuser{
	padding-left:20px;
	 width:140px;}

.userpass{
	padding-left:0px; 
	width:95px;}
	
.start{padding-left:0px; 
	width:75px;}
	
.gender{
	padding-left:0px; 
	width:45px; }
	
.pen{
	width:60px;
	text-align:center;
	padding-left:15px;
	}				 
	 
/*****************************ADD TBL_USERS PAGE ***********************************/
.main-body-div2{
	width:700px;
	margin:20px 0px 20px 240px;;
	overflow:hidden;
	border:1px solid #6f0229;
	}
	
.main-body-div-con{
	width:680px;
	margin:0 auto;
	overflow:hidden;
	}	

.main-body-div4{
	background-color:#FBF7FA;
	overflow:hidden;
	width:100%;
	}
	
.spancolor{
	color:#6f0229;;}	
	
.main-body-sub{
	margin:0px 0px 15px 190px ;
	line-height:30px;
	clear:both;
	padding:15px 0px 0px 10px ;
	width:auto;}	
	
.add-main-body-left{
	width:520px;
	float:left;
	overflow: hidden;
	margin:20px 0px 0px 20px;
	}	 
	 
	 
.add-main-body-left ul{
	margin:0px;
	padding:0px;
	}
.add-main-body-left li{
	list-style:none;
	float:left;
	color:#000000;
	
	font-family: "Georgia";
	padding:11px 0px 0px 10px ;
	}		 
	
.add-main-body-left-text{
	width:130px;
	padding-top:15px;
	line-height:18px;}
	
.add-main-body-right{
	width:320px;
	float:left;
	overflow: hidden;
	margin:20px 0px 0px 20px ;
	
	}	 	
	
.add-main-body-right ul{
	margin:0px;
	padding:0px;
	}
.add-main-body-right li{
	list-style:none;
	float:left;
	color:#000000;
	padding:14px 0px 0px 10px ;
	
	}		 
	
.add-main-body-right-text{
	width:150px;
	padding-top:15px;
	line-height:18px;
	}
	
.main-body-sub-submit{
	font-family:Georgia;
	background:#e0d4d3;
	border:1px solid #e0d4d3;
	cursor:pointer;
}				

.main-body-sub-submit:hover{
	font-family:Georgia;
	background:#e0d4d3;
	border:1px solid #e0d4d3;
}


.wel{
	width:150px;
	margin-top:10px;
	}


.wel-textarea{
	margin-top:10px;
	}
	
.welcheckbox{
	float:left;
	width:30px;
	border:0px;
	}
.checkbox{border:0px;}
/*********************************************************/

.hilight{
	color:#000000;
	font-family:Georgia;
	font-size:12px;
	width:80px;
	text-align:center;
	padding:0px 0px 0px 0px;
	}

.hilight2{
	color:#000000;
	font-family:Georgia;
	font-size:12px;
	width:80px;
	text-align:center;
	padding:0px 0px 0px 0px;
	
	}

.submit-buttn{
	width:717px;
	text-align:center;
	margin:20px 0px 0px 0px;
	}


/*						         TBL_CATEGORY CSS (START)       					*/
.main-body-div3{
	width:700px;
	margin:0 auto;
	overflow:hidden;
	}
	
.Category-Type{
	width:auto;
	padding:10px 0px 0px 10px ;
	float:left;
	}
.Category-Typeseclet{
	width:auto;
	margin:7px 0px 5px 10px ;
	float:left;}		
.Category-Report-header{
	text-align:center;
	height:26px;
	clear:both;
	line-height:25px;
	background-color:#6f0229;;
	color:#FFFFFF;
	font-size:15px;
	padding:10px 0px 5px 0px;
	}
.Category-Report-header2{
	text-align:center;
	height:25px;
	clear:both;
	line-height:25px;
	background-color:#D8D7D7;
	color:#000000;
	font-size:15px;
	margin:0px 0px 0px 0px;
	}			
	
.Report{
	overflow:hidden;
	clear:both;
	margin:0px 0px 0px 0px ;
	height:28px;
	line-height:28px;

	}
.Report ul{
	margin:0px;
	padding:0px;
	}
	
.Report li{
	font-size:13px;
	list-style:none;
	float:left;
	padding:0px 0px 0px 0px ;
	}

.Report-1{
	overflow:hidden;
	clear:both;
	margin:0px 0px 0px 0px ;
	height:28px;
	line-height:28px;
	background-color:#FBF7FA;
	}
.Report-2{
	overflow:hidden;
	clear:both;
	margin:0px 0px 0px 0px ;
	height:28px;
	line-height:28px;
	background-color:#ECD9E8;
	}
.Report-3{
	overflow:hidden;
	clear:both;
	margin:0px 0px 0px 0px ;
	height:28px;
	line-height:28px;
	background:#c9b8c6;


	}
.Report-3 ul{
	margin:0px;
	padding:0px;
	}
	
.Report-3 li{
	font-size:13px;
	list-style:none;
	float:left;
	padding:0px 0px 0px 0px ;
	}
.Category-name{
	width:300px;
	float:left;
	padding:0px 0px 0px 0px ;
	
	}
.Category-name1{
	width:300px;
	float:left;
	color:#000000;
	padding:0px 0px 0px 0px ;

	}
.Category-name2{
	width:300px;
	float:left;
	padding:0px 0px 0px 0px ;

	}
.sub-cat-name{
	width:280px;
	float:left;
	padding:0px 0px 0px 0px ;
	}	
.sub-cat-name1{
	width:297px;
	float:left;
	color:#000000;
	padding:0px 0px 0px 0px ;

	}
.sub-cat-name2{
	width:297px;
	float:left;
	padding:0px 0px 0px 0px ;

	}	
	
.sno{
	width:50px;
	padding:0px 0px 0px 0px;
	margin-left:30px;	}	
	
	
	
					
	
.Category-states{
	width:120px;
	float:left;
	text-align:center;
	}
.stpc{
	width:120px;
	float:left;
	text-align:center;
	color:#000000;
	}	
	
.stpc2{
	width:120px;
	float:left;
	text-align:center;
	}		
	
	
.Category-states1{
	width:120px;
	float:left;
	color:#000000;

	text-align:center;
	}
.Category-states1 a{color:#000000;}	
	
.Category-states2{
	width:120px;
	float:left;
	color:#FFFFFF;
	text-align:center;

	}
	
.mt{
	width:78px;
	text-align:center;
	height:28px;
	color:#000000;}
	
.mt2{
	width:78px;
	color:#00000;
	text-align:center;
	}		
	
	
	
.clear {
clear: both;
margin:0px;
padding:0px;
}
	
	
	
						
	
.Category-type1{
	/*border-bottom: 1px solid #6f0229;;
	border-top: 1px solid #6f0229;;*/
	
	height:25px;
	line-height:25px;
	font-size:13px;
	padding:0px 0px 0px 20px ;
	margin:0px 0px 0px 0px ;}	
	
	
.type{
	overflow:hidden;
	width:150px;
	padding:5px 0px 0px 20px;
	float:left;
	}
.type2{
	overflow:hidden;
	width:220px;
	margin:0px 0px 0px 0px;
	padding-top:5px;
	}	

/*						         TBL_CATEGORY CSS (END)       					*/	




.adc{
	width:700px;
	margin:0 auto;
	border: 1px solid #6f0229;;}
	
	
.headers{
	background-color:#6f0229;;
	height:25px;
	line-height:25px;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	}	
	
	
.full{
	padding:0px 0px 2px 0px;
	overflow:hidden;
	background-color:#C9B8C6;
	}	
	
.full ul{
	padding:0px;
	}
	
.full li{
	float:left;
	list-style:none;
	font-size:13px;
	padding:10px 0px 0px 20px ;
	}
	
	
	
.full2{
	margin:0px 0px 0px 0px ;
	overflow:hidden;
	background-color:#fbf7fa;
	}	
	
.full2 ul{
	margin:0px;
	padding:0px;
	}
	
.full2 li{
	float:left;
	list-style:none;
	font-size:13px;
	padding:10px 0px 0px 20px ;
	}	
	
	
	
.full3{
	margin:0px 0px 0px 0px ;
	overflow:hidden;
		background:#ecd9e8;
	}	
	
.full3 ul{
	margin:0px;
	padding:0px;
	}
	
.full3 li{
	float:left;
	list-style:none;
	font-size:13px;
	padding:10px 0px 0px 20px ;
	}				
	
	
		
	
			
	
.caps{
	background-color:#E2DFDF;
	height:25px;
	line-height:25px;
	text-align:center;
	color:#000000;
	font-size:13px;
	margin-top:10px;
	}
	
.forms{
	width:120px;
	float:left;
	padding:0px 0px 0px 15px ;
	}		
	
	
.phone{
	width:220px;
	float:left;
	text-align:left;
	font-size:12px;
	padding:10px 0px 0px 20px ;}
	
.phone2{
	width:93px;
	float:left;
	padding:10px 0px 0px 0px;
	}		
	
.phone3{
	width:120px;
	float:left;
	text-align:center;
	padding:10px 0px 0px 0px;
	}			
	
	
.phone4{
	width:50px;
	float:left;
	text-align:center;
	padding:10px 0px 0px 0px;
	}			
	
	
.phone5{
	width:80px;
	float:left;
	padding:10px 0px 0px 0px;
	}			
	
	
.content-main-sub-div-light{
	width:100%;
	overflow:hidden;
	height:30px;
	font-size:13px;
	font-weight:bold;
	background-color:#ecd9e8;
	}	
	
.content-main-sub-div-light2{
	width:100%;
	overflow:hidden;
	height:30px;
	font-size:13px;
	font-weight:bold;
	background-color:#F9FCFF;
	}
	
	
.assigen{
	width:620px;
	margin:0 auto;
	overflow:hidden;
	border: 1px solid #6f0229;;
	background-color:#FBF7FA;}
	
.assigen2{
	width:760px;
	margin:0 auto;
	overflow:hidden;
	border: 1px solid #6f0229;;
	background-color:#FBF7FA;}	
	
	
.new-tabs-light{
	width:200px;
	float:left;
	font-size:12px;
	padding:4px 0px 0px 30px ;}	
	
	
	
	
	
	
		
	
.new-tabs{
	width:200px;
	float:left;
	font-size:12px;
	padding:10px 0px 0px 30px ;}	
	
.new-tabs2{
	width:200px;
	float:left;
	font-size:12px;
	padding:0px 0px 0px 0px ;}
	
	
.product{
	width:650px;
	overflow:hidden;
	border: 1px solid #6f0229;
	background-color:#FBF7FA;
	margin:0 auto;
	margin-bottom:20px;
	padding-bottom:20px;}	
	
.product-heading{
	width:100%;
	overflow:hidden;
	color:#FFFFFF;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;}	
.product-text{
	color:#000000;
	font-size:12px;
	width:150px;
	float:left;
	padding:13px 0px 0px 20px ;}
	
.product-text2{
	color:#000000;
	font-size:12px;
	width:150px;
	float:left;
	padding:13px 0px 0px 20px ;}	
	
.product-text-form{
	color:#000000;
	font-size:12px;
	width:200px;
	float:left;
	margin:10px 0px 0px 0px;}
	
.size{
	width:40px;
	padding:10px 0px 0px 10px ;
	color:#000000;
	float:left;
	}	
	
.size4{
	width:160px;
	padding:10px 0px 0px 10px ;
	color:#000000;
	float:left;
	}	
	
	
.size2{
	width:170px;
	padding:10px 0px 0px 10px ;
	color:#000000;
	float:left;
	text-align: left;
	}		
	
.size6{
	width:252px;
	padding:10px 0px 0px 15px ;
	color:#000000;
	float:left;
	text-align: left;
	}		
	
.size-stats{
	width:80px;
	padding:10px 0px 0px 12px ;
	color:#000000;
	float:left;
	text-align: left;
	
	}	
	
.size-stats1{
	width:50px;
	padding:10px 0px 0px 12px ;
	color:#000000;
	float:left;
	text-align: left;
	}
	
	
		
.size7{
	width:205px;
	padding:10px 0px 0px 15px ;
	color:#000000;
	float:left;
	text-align: left;
	}		
	
	
	
	
.size5{
	width:120px;
	padding:10px 0px 0px 10px ;
	color:#000000;
	float:left;
	
	}
	
		
	
.size3{
	width:160px;
	padding:10px 0px 0px 10px ;
	color:#000000;
	float:left;
	text-align:center;
	}
.size-mm{
	width:650px;
	overflow:hidden;
	margin:0 auto;
	border: 1px solid #6f0229;
	margin-top:20px;	
	}	
	
.size-header{
	width:330px;
	float:left;
	color:#FFFFFF;
	text-align:right;
	font-size:16px;
	}	
	
	
.size-light{
	background-color:#Ecd9e8;
	
	
	clear: both;
	overflow:hidden;}	
.size-light2{
	background-color:#F9FCFF;
	
	
	clear: both;
	overflow:hidden;}						
													
		
		
.light-light-box{
	width:100%;
	background-color:#FBF7FA;     
	float:left;
	height:47px;
	font-size:13px;
	overflow:hidden;
	font-weight:bold;	
	}
	
.light-light-box2{
	
	background-color:#ECD9E8;    
	float:left;
	height:47px;
	font-size:13px;
	overflow:hidden;
	font-weight:bold;
	width:100%;	
	}				
		
.loop{
	float:left; 
	border:1px solid #E0E2E6; 
	text-align:center; 
	margin:5px;
	 position:relative; 
	 width:105px;
	 overflow:hidden;}
	 
.loop2{width:17px;
 position:absolute; 
 top:-1px; 
 left:87px;}
 
.loop3{
	width:17px; 
	position:absolute; 
	top:0px;
	 left:89px;} 	 	
	 
.loop-light{
	float:left;
	 border-bottom:1px solid #6f0229;;  
	 width:700px; 
	 margin-bottom:10px;}
.loop-light2{margin:0px 0px 20px 20px;
font-weight:normal; 
width:700px;}	

.light-main-img{
	margin:10px 0px 0px 20px ;
	 font-weight:normal; 
	 width:730px; 
	 clear:both;} 
	 
	 
	 
.prod-assign{
	width:900px;
	overflow:scroll;
	margin:0 auto;
	}	
	
	
.cat-prod-assign{width:90px;  position:absolute; top:1px; left:52px;}

.
	
.cat-prod-assign-img{
	float:left; 
	
	margin:10px 0px 10px 10px;
	
	width:50px; 
	height:50px; 
	border:1px solid #6f0229;; }	
	
	
.cat-prod-assign-display{
	background:#E5E3E3;
	height:30px; 
	line-height:30px; 
	text-align:center;
	width:760px; 
	margin-left:-9px;}
	
.cat-prod-assign-tab{
	background:#E5E3E3;	
	height:30px; 
	text-align:center;
	 line-height:30px;
	 clear:both;
	  margin:10px 0px 0px 0px;}	
	  
.cat-prod-assign-name{
	padding:10px 0px 10px 0px;}	
	
	
.cat-prod-assign-name-light{
	font-size:13px;
	color:#333333;
	padding:10px 0px 10px 0px;
	border-top:1px solid #C8CACB;


}	
	
.light-cat{width:95px; float:left; padding:5px 0px 0px 27px; 
	font-size:13px;
	color:#333333;}	
	
	
	
.cat-prod-assign-light{
	height:25px;
	color:#FFFFFF;
	background-color:#6f0229;;
	font-size:13px;
	line-height:25px;
	text-align:center;}
	
.cat-prod-assign-light-main{
	border:1px solid #6f0229;;
	
	  width:910px;
	   margin:0 auto;
	   overflow:hidden;}	
	   
.cat-prod-assign-light-Category{font-size:14px; padding:0px 0px 10px 0px;}

.cat-prod-assign-light-buttom{
	clear:both; margin:10px 0px 10px 0px;}
	
	
.cat-prod-assign-light-loop-img{
	padding-top:5px;
	font-size:12px;  
	width:145px; 
	height:110px; 
	float:left; 
	border:1px solid #CCCCCC;
	 margin:5px;}	
	 
	 
.cat-prod-assign-light-select{
	text-align:center;
	padding-top:155px;
	font-size:17px; 
	}
	
.cat-prod-assign-light-select2{
	overflow:hidden;
	 margin:0px 0px 5px 30px;
	}
	
	
.image-prode-a{
	border:2px solid #8FB067;
	float:left; 
	
	margin:10px 0px 10px 10px;
	
	width:50px; 
	height:50px; }
	
.image-prode-in{
	border:2px solid #6B0000;
	float:left; 
	margin:10px 0px 10px 10px;
	width:50px; 
	height:50px; }
	
.image-prode-active-main{
	overflow:hidden;
	margin:10px 0px 10px 30px;
	}	
	
.image-prode-active-main ul{
	margin:0px;
	padding:0px;
	}	
.image-prode-active-main li{
	list-style:none;
	float:left;
	font-size:12px;
	padding:0px 5px 0px 0px;
	}				 	  	
	 	 
.pross-cat-des-main{
	width:953px;
	border:1px solid #6f0229;;
	overflow:hidden;
	margin:20px 20px 0px 24px;
	}
	
.pross-cat-des-main-header{	
	height:25px;
	color:#FFFFFF;
	background-color:#6f0229;;
	font-size:13px;
	line-height:25px;
	text-align:center;
	}	 
		  
		  
.window-design-select{
	width:400px; float:left;
	 margin:20px 0px 0px 20px ;
	}		  
		  
		  
.window-design-select1{
	width:300px;
	 float:left;
	 margin:20px 0px 10px 30px;
	}	
	
.window-design-select2{

	width:150px;
	 float:left;
	 margin:20px 0px 0px 0px;
	}		  
	
.window-design-select3{
	width:220px;
	 float:left;
	 margin:18px 0px 0px 0px;
	}		  
		  
		
.window-design-select-image{
	width:945px;
	height:150px;
	clear:both;

	padding:20px 0px 0px 20px;
	border-top:1px solid #E7E7E7;
	}		  
.window-design-select-save{
	padding:0px 0px 10px 0px;
	text-align:center;
	}
.window-design-select-save-image{
	padding-top:5px;
	font-size:12px;  
	width:145px; 
	height:110px; 
	float:left; 
	border:1px solid #CCCCCC;
	 margin:5px;}			  
		  	
.window-design-des-cat-view{
	width:100px;
	float:right;
	color:#FFFFFF;
	font-size:12px;
	}			

.window-design-des-cat-view a{
	width:100px;
	float:right;
	color:#FFFFFF;
	font-size:12px;
	}
.window-design-des-cat-view-hd{
	width:auto;
	float:left;
	margin:0px 0px 0px 320px ;
	}	
	
.des-cat-sub-main{
	margin:0px 0px 0px 190px ; 
	overflow:hidden;
	 width:900px;
	  border:1px solid #6f0229;;
	   background-color:#FBF7FA;}	
	
	
	
	
	
	
				
		
.window-design-Detai{
	width:900px;
	float:left;
	background-color:#E9E7E7;
	height:25px;
	line-height:25px;
	text-align:center;
	margin:10px 0px 0px 0px ;
	}	
.Design-Category-Name-Humor{
	font-size:13px;
	color:#6f0229;;
	font-weight:bold;
	padding:10px 0px 0px 8px;
	border-top:1px solid #C8CACB;
	}							
		
.Design-Category-Name-name{
	font-size:13px;
	color:#000000;
	font-weight:bold;
	padding:5px 0px 5px 10px;
	border-top:1px solid #D6E5F9;
	}				
	 	 
.Design-Category-Name-image{
	float:left;
	margin:10px 0px 0px 25px;
	width:43px; 
	 height:43px;
	  border:1px solid #6f0229;;}
	  
.Design-Category-Name-image2{
	width:18px; 
	margin-left:12px;
	margin:0px 0px 0px 30px;
	position:absolute; 
	left:37px; 
	top:0px;
	}	  
	  
.Design-name-one{
	clear:both;
	}	  
	  
	  
	  
.view-font-menu{
	width:1020px;margin:0 auto; border: 1px solid #6f0229;;}	  
	
	
	
.succsess{
	border:1px solid #FF0000;}
	  
/*__________________________________________*/
	  
	  
.feabrit-producrt-main1{
	width:900px;
	margin:0 auto;
	 
	} 
	
.feabrit-producrt-main-main-sub{
	margin:10px 0px 20px 0px;
	overflow:hidden;
	padding:0px 0px 20px 0px;
	 border:1px solid #6F0229;
	 background:#fbf7fa;
	 }	 
	
	
.feabrit-producrt-main{
	float:left;
	width:270px;
	border:1px solid #6f0229;;
	margin:12px 0px 5px 20px;
	background-color:#E0D4D3;
	}
	
.feabrit-producrt-one{
	width:105px;
	float:left;
	margin:10px 0px 10px 10px;
	border:1px solid #115993;
	}	
	
	
.feabrit-producrt-sub{
	margin:0px 0px 0px 0px;
	float:left;
	width:150px;
	}	
.feabrit-producrt-sub ul{
	margin:0px;
	padding:0px;
	}	
.feabrit-producrt-sub li{
	margin:10px 0px 0px 4px;
	float:left;
	list-style:none;
	border:1px solid #115993;
	}	
	  
.feabrit-submit{
	padding:10px 0px 10px 0px;
	clear:both;
	}	  
	  



	  
	  
/*______________________________________________________________________________________________________________________*/

.massage-main{
	width:890px;
	margin:0 auto;
	border:1px solid #6f0229;
	overflow:hidden;
	background:#fbf7fa;
	}
.massage-main-less-width{
	width:790px;
	margin:0 auto;
	border:1px solid #6f0229;
	overflow:hidden;
	background:#fbf7fa;
	}
.massage-main-1{
	width:450px;
	margin:0 auto;
	
	border:1px solid #6f0229;;
	overflow:hidden;
	background:#FBF7FA;
	}		  
		 
		 
.massage-main-sub{
	width:890px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	}	  		 
	
.massage-main-sub ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}
.massage-main-sub-new-1{
	width:890px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	}	  		 
	
.massage-main-sub-new-1 ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub-new-1 li{
	list-style:none;
	float:left;
	font-size:13px;
	text-align:left;
	}
.massage-main-sub-width{
	width:970px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	}	  		 
	
.massage-main-sub-width ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub-width li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}
	
	
.massage-main-sub1{
	width:890px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	background-color:#ecd9e8;
	}	  		 
	
.massage-main-sub1 ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub1 li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}	
.massage-main-sub1-width{
	width:970px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	background-color:#ecd9e8;
	}	  		 
	
.massage-main-sub1-width ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub1-width li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}	
.massage-main-sub10{
	width:450px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	background-color:#ECD9E8;
	}	  		 
	
.massage-main-sub10 ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub10 li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}		

.massage-main-sub2{
	width:890px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	background-color:#F9FCFF;
	}	  		 
	
.massage-main-sub2 ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub2 li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}	
.massage-main-sub2-width{
	width:970px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	background-color:#F9FCFF;
	}	  		 
	
.massage-main-sub2-width ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub2-width li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}	
.massage-main-sub20{
	width:450px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	background-color:#F9FCFF;
	}	  		 
	
.massage-main-sub20 ul{
	margin:0px;
	padding:0px;
	}
.massage-main-sub20 li{
	list-style:none;
	float:left;
	font-size:13px;
	padding:10px 0px 10px 0px;
	text-align:center;
	}

	
.massage-header{
	background-color:#6f0229;;
	height:29px;
	line-height:29px;
	text-align:center;
	color:#FFFFFF;
	font-size:14px;
	}	
			
.massage1{
	width:80px;
	padding:0px 0px 0px 0px;
	}	
	
.massage2{
	width:280px;
	padding:0px 0px 0px 0px;
	}	
.massage3{
	width:110px;
	padding:0px 0px 0px 0px;
	}	
	
.massage4{
	width:120px;
	padding:0px 0px 0px 0px;
	}	
	
	
.massage5{
	width:140px;
	padding:0px 0px 0px 0px;
	}
	
.massage6{
	width:80px;
	
	padding:0px 0px 0px 0px;
	}	
	
	
	
/********************____________________________________*************************************/

.hot-main-div{
	width:690px;
	margin:0 auto;
	overflow:hidden;
	border:1px solid #1268AD;
	}	

.hot-producrt-main-box{
	float:left;
	width:340px;
	overflow:hidden;
	border:1px solid #6f0229;;
	margin:12px 0px 5px 10px;
	background-color:#F2F7FD;
	}
		


.hot-producrt-sub{
	margin:25px 0px 0px 0px;
	float:left;
	width:200px;
	}	
.hot-producrt-sub ul{
	margin:0px;
	padding:0px;
	}	
.hot-producrt-sub li{
	margin:10px 0px 0px 5px;
	float:left;
	list-style:none;
	border:1px solid #115993;
	}
	
.des-main-name{
	margin:0px 0px 0px 0px;
	float:left;
	height:58px;
	line-height:50px;
	width:690px;
	border-bottom:1px solid #1268AD;
	}	
	
.des-main-name ul{
	margin:0px;
	padding:0px;
	}	
	
.des-main-name li{
	list-style:none;
	padding:0px 0px 0px 0px;
	float:left;}	
	
.des-hot{
	width:276px;
	text-align:center;}	
.des-hot1{
	width:120px;
	text-align:center;
	margin-left:50px;}	
.des-hot2 img{
	margin:0px 0px 0px 5px;}	
	
.des-hot2{
	border:1px solid #1268AD;
	margin:3px 0px 0px 0px;
	width:50px;}	
	

/*______________________purchase-register____________________________________________*/

.purchase-register-main{
	width:700px;
	margin:0px 0px 0px 0px;
	}
	
.purchase-hd{
	margin:0px 0px 0px 0px;
	overflow:hidden;
	}
.purchase-hd ul{
	margin:0px;
	padding:0px;
	}		
.purchase-hd li{
	float:left;
	margin:0px 0px 0px 0px ;
	font-size:12px;
	}
	
.purchase-hd2{
	margin:0px 0px 0px 0px;
	overflow:hidden;
	}
.purchase-hd2 ul{
	margin:0px;
	padding:0px;
	}		
.purchase-hd2 li{
	float:left;
	margin:0px 0px 0px 0px ;
	font-size:12px;
	}	
	
.purchase-name{
	width:200px;}	

.purchase-name3{
	width:170px;}	

	
.purchase-name2{
	width:60px;
	text-align:center;}	
	
	
.purchase-date{
	border-top:1px solid  #cccccc;
	padding:10px 0px 10px 0px;
	font-weight:bold;}	
	
	
	
	
/*___________________________________________________________*/

.view-adc{
	width:700px;
	margin:0 auto;
	border: 1px solid #6f0229;;}
	




.viwe-purchase-register-main{
	width:700px;
	margin:0px 0px 0px 0px;
	}



.opping-stock{
	width:90px;}
	
	
	/*______________________________________*/
	
.purchase-date-hd{
	width:290px;}
	
	
.purchase-date-hd-item{
	width:290px;
	}		
		
	
.purchase-date-hd2{
	width:100px;}	
	
.purchase-date-hd-edit{
	width:100px;}	
		
	
	
.purchase-date-hd-main{
	padding:10px 0px 10px 20px;
	border-top:1px solid #999999;
	width:667px;}		


.purchase-date-hd-main2{
	padding:10px 0px 10px 0px;
	border-top:1px solid #999999;
	width:667px;}		


.purchase-product-name{
	width:240px;}
	
	
	
/**************************************************/


.prodt-size-lights{
	background-color:#ECD9E8;
	
	}	
	
.prodt-size-lights2{
	background-color:#FBF7FA;
	
	}		
.main-body-bynic-menu{
	overflow:hidden;
	background-color:#F9FCFF;
	}	
.main-body-bynic-menu1{
	overflow:hidden;

  }
 
 
 /***************Menu Report***********************/
 
.Menu-Report-main{
	width:100%;
	margin:0px 0px 0px 0px;} 
	
 
.Menu-Report-main ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}	
.Menu-Report-main li{
	float:left;
	font-size:13px;
	color:#000000;
	padding:10px 0px 0px 10px;
	}	
	
	
.menu-name-url-edit-hd{
	width:225px;
	float:left;}
.menu-name-url-edit-hd2{
	width:125px;
	float:left;}
	
	
	
	
	
	
	
.menu-name-re{
	width:270px;
	padding:10px 0px 10px 10px;
	float:left;
	font-weight:bold;
	}	
	
.menu-name-url{
	width:300px;
	padding:10px 0px 0px 10px;}	
	
.menu-name-url2{
	float:left; width:210px; padding-top:10px;}	
	
	
	
.menu-name-url-edit{
	width:239px;
	float:left;
	 padding:10px 0px 0px 0px;}
	
.menu-name-url-edit-active{
	width:150px;
	float:left;
	}
	
	
	
	
.menu-report-status{
	width:820px;
	border:1px solid #FF0000;
	float:left;}
	
.all-status{
	margin:10px 0px 5px 30px;
	width:250px;
	clear:both;
	float:left;}	
.all-status-active{
	margin:10px 0px 0px 30px;
	width:150px;
	
	float:left;}
	
.all-status-edits{width: auto; float:left; padding-top:10px;}		
				
.main-body-orderstatus
{
	font-size:12px;
	color:#FFFFFF;
	margin-left:150px;
	}
.main-body-orderstatus a{
	font-size:12px;
	color:#FFFFFF;
	
	}
	
.cat-prod-assign-new{
	font-weight:bold;
	padding:5px 0px 3px 0px;
	float:left;
	font-size:13px;
	text-align:center;
	width:100%;
	background-color:#C9B8C6;}
.cat-prod-assign-new a{
	font-weight:bold;
	padding:5px 0px 3px 0px;
	float:left;
	font-size:13px;
	text-decoration:none;
	text-align:center;
	width:100%;
	background-color:#C9B8C6;}
	
	
.main-div{
	 width:300px; 
	 margin:10px 0px 10px 30px;
	 float:left;
	 }
 .main-div-left{
	 width:250px; 
	 float:left;
	 clear:both;
	 }
.heading-div{
	font-size:16px;
	 background:#6f0229; 
	 color:#FFFFFF;
	 font-weight:bold; 
	 padding:4px 0px 7px 15px;
	 }
.heading-div-left{
	font-size:14px;
	 font-weight:bold; 
	 padding:4px 0px 15px 15px;
	 height:20px;
	 }
.sub-headings-div{
	font-size:15px; 
	 padding:5px 0px 3px 15px; 
	 background:#e0d4d3;
	}
.sub-headings-div a{
	text-decoration:none;
	font-size:15px;
	color:#6f0229;
	}
.sub-headings-div a:hover{
	text-decoration:underline;
	}
.list-div{
	 border:1px solid #e0d4d3;
	 background:#fbf7fa;
	 }
.list-div ul{
	padding:0px 0px 0px 30px;
	}	
.list-div ul a{
	text-decoration:none;
	color:#6f0229;
	}
.list-div ul a:hover{
	text-decoration:underline;
	} 
.dashboard{
	clear:both;
	float:left;
	padding:5px 0px 0px 10px;
	color:#FFFFFF;
	}
.dashboard a{
	text-decoration:none;
	color:#FFFFFF;
	}
.first-column{
	width:302px;
	float:left;
	padding:10px 10px 10px 10px;
	}
.first-column-left{
	float:left;
	clear:both;
	}
.clear{
	clear:both;
	}
.hello{
	border:1px solid #0000CC;
	}
.heading-color{
	background:#c9b8c6;
	}

.message{
	font-size:14px;
	font-weight:bold;
	color:#FF0000;
	margin:5px 0px 5px 0px;
	text-align:center;
}

.error_message{
	font-size:14px;
	font-weight:bold;
	color:#FF0000;
}
.small_error_message{
	font-size:12px;
	color:#FF0000;
}

.main-body-div-new{
	width:700px;
	overflow:hidden;
	border:1px solid #6f0229;
	margin:0 auto;
	margin-top:20px;
	}
		
.add-main-body-left-new{
	width:600px;
	float:left;
	overflow: hidden;
	margin:20px 0 0 50px;
	}	 
	 
	 
.add-main-body-left-new ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
.add-main-body-left-new li{
	list-style:none;
	color:#000000;
	font-family: "Georgia";
	
	
	}
	
.add-main-body-left-new li.lable{
	width:150px;	
	float:left;
	clear:both;
	padding:10px 0 0 0; 
	}
.add-main-body-left-new li p{
	clear:both;
	margin:0;
	padding:5px 0 0 0;
	color:#ff0000;
	}		 
.add-main-body-left-new ul li ul{
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}
.add-main-body-left-new ul li ul li{
	padding:0 0 0 0;
	float:left;
	}
.send-news{ width:50px; float:left; margin:10px 0 0 0; border:0;}
.add-main-body-left-new ul li ul li.send-news-text{ width:400px; vertical-align:top; float:left; padding:8px 0 0 0;}	
.add-main-body-left-new-text{
	width:130px;
	padding-top:15px;
	line-height:18px;
	}
	
.add-main-body-right-new-text{
	width:320px;
	float:left;
	overflow: hidden;
	}	 			
	
.new-text-box{
	width:250px;
	clear:both;
	margin:0px 0px 0px 150px;
	}
.new-text-box2{
	position:absolute;
	left:10px;
	top:10px;}
	
	
	
#search-main-div{
	width:100%;
	margin:0 0 0 0;
	overflow:hidden;
	}	
#search-main-div ul{
	margin:0;
	padding:0;
	list-style:none;
	}
#search-main-div ul li{	
	float:left;
	color:ccc;
	padding:0 0 0 10px;
	}
#search-main-div ul li.selectall{
	width:100px;
	padding:0 0 0 20px;
	color:#000;
	}
#search-main-div ul li.selectall a{
	width:200px;
	text-decoration:none;
	color:#000;
	}
#search-main-div ul li.selectall a:hover{
	text-decoration:underline;
	}
#search-main-div ul li.action{
	width:auto;
	padding:0 10px 0 20px;
	color:#000;
	}
#search-main-div ul li.action1{
	width:auto;
	padding:0 10px 0 10px;
	color:#000;
	}
.adminsearch{
	width:150px;
	margin-left:175px;
	padding:0 0 0 5px;
	height:18px;
	}
#search-main-div ul li.showall{
	padding:0 0 0 20px;
	color:#000;
	width:auto;
	}
#search-main-div ul li.showall a{
	color:#000;
	text-decoration:none;
	}
#search-main-div ul li.showall a:hover{
	color:#000;
	text-decoration:underline;
	}
.add-main-body-left-new li.sap{
	width:440px;
	padding:10px 0 0 0;
	float:left;
	}
	
	
	#admin-product-main{ width:100%; overflow:hidden;}
.admin-product-sub{ width:280px; float:left; position:relative; margin:10px 30px 0 0; border:1px solid #EBE9ED;}
.admin-product-sub ul{ margin:0px; padding:0px;}
.admin-product-sub ul li{ list-style:none; float:left;}
.admin-product-sub ul li img{ width:100%; margin:0 0 0 0;}
.admin-product-sub ul li.front{ width:80px; font-size:12px; color:#000; padding:10px 0 0 0; float:left; clear:both;} 
.admin-product-sub ul li input[type=file]{ width:100px; margin:10px 0 0 0;}
.admin-product-sub ul li input[type=text]{ width:50px; margin:10px 0 0 0;}
.admin-product-sub ul li.front-size{ width:auto; padding:12px 5px 0 5px; font-size:12px; color:#000;} 
.admin-product-sub ul li.default{ width:auto; padding:12px 5px 0 0; font-size:12px; color:#000; clear:both;}
.admin-product-sub ul li.default span radio{ margin:0 0 0 0;}
.admin-product-sub ul li input[type=button]{ background:url(../images/save-button.jpg) left top no-repeat; width:53px; height:24px; margin:10px 0 0 0; border:0px; cursor:pointer;} 
.admin-product-sub ul li i{ width:15px; position:absolute; top:10px; left:100px;}

.classsubmit{background:url(../images/save-button.jpg) left top no-repeat; width:53px; height:24px; margin:10px 0 0 0; border:0px; cursor:pointer;}
	
<!-- by urvesh !>


.change_data{ width:400px; overflow:hidden;}
.change_data ul{ overflow:hidden;}
.change_data ul li{ float:left;}


