#menu { height:30px; width:100%; }
#nav {  background:url(../images/nav_bg.png) left top repeat-x; width:100%;  list-style:none; float:left; margin:0px; padding:0px; }
#nav li { float:left; background-image:url(../images/nav_li_bg.png); background-repeat:no-repeat; background-position:right; }
#nav li a { display:block; padding:7px 25px; text-decoration:none; font-weight:bold; font: normal 12px Arial, Helvetica, sans-serif; color:#fff;}
#nav li a:hover { color:#FF0000; }
/* Submenu */
#nav ul.submenu { border:1px solid #000000; padding:5px; position:absolute; list-style:none; background-color:#333333;}
#nav ul.submenu li { float:none; background-image:none; border-bottom:1px solid #999999; width:200px;}
/* Subsubmenu */
#nav ul.subsubmenu { border:1px solid #000000; padding:5px; position:absolute; list-style:none; background-color:#333333; margin-left:150px; margin-top:-30px;}
#nav ul.subsubmenu li { float:none; background-image:none; border-bottom:1px solid #999999; min-width:200px;}